{% extends 'base.html' %}
{% block content %}
<!-- ********************Starting of image search and image upload -->
<div class="row" style="margin-top:3px;">
    <div id="alert-placeholder"></div>
</div>
<div>
  <div style="display: flex;">
    <div class="row">
        <div class="col">
          <input
          type="file"
          name="files[]"
          id="files"
          form="imageForm"
          multiple
          style="display: none;"
      >
      <label for="files" class="upload-button" >
          Upload Image
          <i class="fa fa-upload upload-icons" aria-hidden="true"></i>
      </label>
            <div>
                <a href="static/images/zip_files/files.zip" download> Need more images? Click here to download</a>
            </div>
            <div
                class="progress-bar progress-bar-striped"
                style="width:200px;"
                role="progressbar"
                id="progressBar"
            >
                <div class="progress-bar-fill">
                    <span class="progress-bar-text">0%</span>
                </div>
            </div>
            <div id="wait" style="display:none;width:69px;height:89px;padding:2px;">
                <div id="image" style="display:inline;">
                    <img src="/static/gif/processing.gif" width="64" height="64">
                    <br>
                </div>
                <div id="texts" style="display:inline; white-space:nowrap;">
                    <p>Please wait while we process your images...</p>
                </div>
            </div>
        </div>
    </div>
    <form id="search-form" method="post">
        <input
            type="text"
            id="search-query"
            class="clearable"
            name="search-query"
            placeholder="Search By Name..."
        >
        <input type="submit" style="border-radius: 10px; background-color: #324755; color: white;margin-left: 15px; 
          padding: 10px;" value="Search">
        <button
            id="uncheckAll"
            style="border-radius: 10px; background-color: #324755; color: white; 
          padding: 10px; margin-left: 15px;"
            onclick="clearInput()"
            type="button"
        >Clear</button>
        <button id="show-filters-button" class="dropdown-toggle" style="border-radius: 10px; background-color: #324755; color: white; 
          padding: 10px; margin-left: 15px;" type="button">Filter</button>
    </form>
  </div>
</div>


<section id="sidebar">
  <div class="sidebar-dropdown">
    <div id="filters" class="dropdown-content" style="margin-left: 33%; padding: 10px;  justify-content: space-between;">
      <div class="column" style="margin-right: 15px;">
          <form id="filters_image" method="post">
              <label for="filter1">Light Filter Search</label>
              <br>
              <input type="checkbox" id="filter_brightID" name="filter_bright" value="true">
              Bright
              <br>
              <input type="checkbox" id="filter_mediumID" name="filter_medium" value="true">
              Medium
              <br>
              <input type="checkbox" id="filter_poorID" name="filter_poor" value="true">
              Poor
              <br>
              <label>Image Acquisition Date Range</label>
              <br>
              <label for="enddate">From:</label>
              <br>
              <input id="myStartDate" type="date">
              <br>
              <label for="enddate">To:</label>
              <br>
              <input id="myEndDate" type="date">
              <br>
              <label for="menu">Uploaded By</label>
              <br>
              <select id="menu" name="menu">
                  <option value="all">All</option>
                  {% for username in user_list %}
                  <option value="{{ username }}">{{ username }}</option>
                  {% endfor %}
              </select>
            </form>
          </div>
          <div class="column">
            <form id="filters_image" method="post">  
              <label>Image Latitude</label>
              <div class="input-group">
                  <div>
                      <label for="latitude_min">Min:</label>
                      <input type="number" id="latitude_min" name="latitude_min" step="any" min="-90" max="90">
                  </div>
                  <div>
                      <label for="latitude_max">Max:</label>
                      <input type="number" id="latitude_max" name="latitude_max" step="any" min="-90" max="90">
                  </div>
              </div>
              <label>Image Longitude</label>
              <div class="input-group">
                  <div>
                      <label for="longitude_min">Min:</label>
                      <input type="number" id="longitude_min" name="longitude_min" step="any" min="-180" max="180">
                  </div>
                  <div>
                      <label for="longitude_max">Max:</label>
                      <input type="number" id="longitude_max" name="longitude_max" step="any" min="-180" max="180">
                  </div>
              </div>
              <label>Image Altitude</label>
              <div class="input-group">
                  <div>
                      <label for="altitude_min">Min:</label>
                      <input type="number" id="altitude_min" name="altitude_min" step="any">
                  </div>
                  <div>
                      <label for="altitude_max">Max:</label>
                      <input type="number" id="altitude_max" name="altitude_max" step="any" >
                  </div>
              </div>
              <label>F-stop</label>
              <div class="input-group">
                  <div>
                      <label for="fstop_min">Min:</label>
                      <input type="number" id="fstop_min" name="fstop_min" step="any">
                  </div>
                  <div>
                      <label for="fstop_max">Max:</label>
                      <input type="number" id="fstop_max" name="fstop_max" step="any" >
                  </div>
              </div>
              <label>Pixel Pitch</label>
              <div class="input-group">
                  <div>
                      <label for="pitch_min">Min:</label>
                      <input type="number" id="pitch_min" name="pitch_min" step="any">
                  </div>
                  <div>
                      <label for="pitch_max">Max:</label>
                      <input type="number" id="pitch_max" name="pitch_max" step="any" >
                  </div>
              </div>
              <label>Roll</label>
              <div class="input-group">
                  <div>
                      <label for="roll_min">Min:</label>
                      <input type="number" id="roll_min" name="roll_min" step="any">
                  </div>
                  <div>
                      <label for="roll_max">Max:</label>
                      <input type="number" id="roll_max" name="roll_max" step="any" >
                  </div>
              </div>
              <label>Shutter Speed</label>
              <div class="input-group">
                  <div>
                      <label for="shutter_min">Min:</label>
                      <input type="number" id="shutter_min" name="shutter_min" step="any">
                  </div>
                  <div>
                      <label for="shutter_max">Max:</label>
                      <input type="number" id="shutter_max" name="shutter_max" step="any" >
                  </div>
              </div>
          </form>
      </div>
  </div>
    </div>
</section>
   
        <!--*****************Starting of image table  -->
        <table id="imageTable">
          <thead>
              <tr>
                  <th>Image Preview</th>
                  <th>File Name</th>
                  <th>Upload Time (UTC)</th>
                  <th>Uploaded By</th>
                  <th>Size (MB)</th>
                  <th>Dimensions (pixels)</th>
                  <th>Image Light</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            {% comment %} ?? what is length {% endcomment %}
              {% if images|length == 0 %}
                  <tr id="tr_noimage">
                      <td colspan="8">No images to show</td>
                  </tr>
              {% else %}
                  {% for image in images %}
                      <tr id="tr_{{ image.id }}">
                          <td>
                    <img
                    id="{{image.name}}"
                    src="{{ url_for('static', filename= image.thumbnail_path ) }}"
                    data-toggle="modal"
                    image_name="{{image.name}}"
                    width=120
                    height=75
                    thumbnailsrc="static/{{image.thumbnail_path}}"
                    data-target="#preview"
                    style="cursor: pointer;"
                    onclick="previewImage(this);"
                    >
                   
                 </td>
                    <td>
                                <div class="filename flex-container" id ="imageA" style="max-width: 17rem;">
                            <div class="ms-3">
                              <input type="text" id="myInput_{{ image.id }}" style="display: none" placeholder="Image Alias...">
                              <p class="fw-normal mb-0" id="myInput2_{{ image.id }}" style="display: inline-block; width: 50%; word-wrap: break-word;">
                {{ image.alias }}&nbsp;
            </p>
            <!-- Check if name is different from the alias -->
            {% if image.name != image.alias %}
                <!-- Name text (displayed under the alias in parentheses) -->
                <p class="fw-normal mb-0" style="display: inline-block; width: 50%; word-wrap: break-word;">
                    ({{ image.name }})
                </p>
            {% endif %}
            <!-- Edit alias button -->
                                <span id="info-icon" style="cursor: pointer; font-size: 10px; vertical-align: top;" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" 
                                  title="Longitude: {{ image.longitude }}<br>
                                    Latitude: {{ image.latitude }}<br>
                                    Altitude: {{ image.altitude }}<br>
                                    Fstop: {{ image.fstop }}<br>
                                    GPS Date: {{ image.gps_date }}<br>
                                    Pitch: {{ image.pitch }}<br>
                                    Roll: {{ image.roll }}<br>
                                    Shutter Speed: {{ image.shutter_speed }}">
                                  <i class="fas fa-info-circle"></i>
                              </span>
            <button class="btn btn-secondary" id="showInputButton_{{ image.id }}" onclick="showInput(this)" type="button" value="{{ image.id }}" style="margin-left: 15px; display: inline-block; background-color: #324755; vertical-align: top;">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
                              <button class="btn btn-secondary" id="aliasInputButton_{{ image.id }}"  onclick="ImageAliasInput(this)" type="button" alias = "{{ image.id }}" style ="display: none; background-color: #324755; vertical-align: top;" OGname="{{ image.name }}">
                                <i class="fa fa-save" aria-hidden="true"></i></button>    

                               <p class="text-muted mb-0" style="font-size: 14px;">Source: Operation IceBridge Data Portal</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ image.upload_time }}</p>
                    </td>
                    <td>
                      {% if image.uploader_name == 'default' %}
                      <p class="fw-normal mb-1">Administrator</p>
                      {% else %}
                        <p class="fw-normal mb-1">{{ image.uploader_name }}</p>
                      {% endif %}
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ image.size }}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ image.width  }}, {{ image.height }}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ image.light }}</p>
                    </td>
                    <td>
                      <div class="action-button-group">
                      <a href="{{ url_for('crop') }}?id={{ image.id }}">
                        <button class="action-button open-cropping-tool" type="button">
                            <i class="fas fa-crop"></i>
                            Crop Image
                        </button>
                    </a>
                    <!--<a href="#" class="action-button" style="background-color: #324755;"><i class="fas fa-trash"></i></a> -->
                  </div>
                        <!-- <button type="button" class="action-button"
                          data-toggle="modal"
                          image_name="{{image.name}}"
                          thumbnailsrc="static/{{image.thumbnail_path}}"
                          data-target="#preview"
                          onclick="previewImage(this)">
                          Preview
                      </button>
   -->
                    </td>
                  </tr>
                  {% endfor %}
              {% endif %}
          </tbody>
      </table>
        <form id="imageForm" method="post"></form>
        
        
        <div id="showNone" style="display:none;">
            <p> No images to show</p>
           
            
        </div>
  
<div class="pagination" id="pagination">
  <button class="action-button" id="prevPageButton" onclick="prevPage()"><i class="fas fa-angle-left" style="margin-right: 0;"></i></button>
  <div class="page-info">
    <span>Page</span>
    <span id="currentPage"></span>
    <span> of </span>
    <span id="totalPages"></span>
  </div>
  <button class="action-button" id="nextPageButton" onclick="nextPage()"><i class="fas fa-angle-right" style="margin-right: 0;"></i></button>
 </div>

  
  
</div>

<div id="previews" >
  <div class="modal fade" id="preview" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="z-index: 10000;">
      <div class="modal-dialog" role="document" style="max-width: 70%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="action-button"
                  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="background: none;">
                      x
                  </span>
              </button>
            </div>
            <div class="modal-body" style="margin: auto;"></div>
          </div>
      </div>
  
  </div>
</div>

<script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity=
"sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
<script>

  //variables
  console.log("variable");
  var image = null;
  var imagedata = null;
  var showloader = false;
  const progressBarFill = document.querySelector("#progressBar > .progress-bar-fill");
  const progressBarText = progressBarFill.querySelector(".progress-bar-text");
  var currentPage = 1;
  var rowsPerPage = 10;
  var totalRows = document.getElementById("imageTable").rows.length - 1;
  var totalPages = Math.ceil(totalRows / rowsPerPage);
  const monthsShort = {
    Jan: '01',
    Feb: '02',
    Mar: '03',
    Apr: '04',
    May: '05',
    Jun: '06',
    Jul: '07',
    Aug: '08',
    Sep: '09',
    Oct: '10',
    Nov: '11',
    Dec: '12',
  };



  /*
    previewImage(button) 
    - Image preview function
    - after click image on each row, the image will pop out in a new window
    - button is an <img>, which should include two attributes - image_name and thumbnailsrc 
  */
  function previewImage(button) {
    // fetch information of the preview image
    console.log("previewImage");
    var imageName = button.getAttribute("image_name");
    var thumbnailSrc = button.getAttribute("thumbnailsrc");

    // select corresponding place
    var modal = document.getElementById("preview");
    var modalTitle = modal.querySelector(".modal-title");
    var modalBody = modal.querySelector(".modal-body");

    // set title
    modalTitle.textContent = imageName;

    // set image
    var img = document.createElement("img");
    img.src = thumbnailSrc;
    img.style.maxWidth = "100%";
    modalBody.innerHTML = "";
    modalBody.appendChild(img);
  }

  /*
    showSuccess(message)
    showError(message)
    howErrorInvalid(message, invalidfiles)
    - Those three results are about image uploading
    - adding message to alert-placeholder to feedback
  */
  function showSuccess(message) {
    $('#alert-placeholder').html('<div class="alert alert-success alert-dismissible fade show" style="margin:35px;"><strong>Success! </strong>'+ message +'  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')  
  }
  function showError(message) {
    $('#alert-placeholder').html('<div class="alert alert-danger alert-dismissible fade show" style="margin:35px;"><strong>Error! </strong>'+ message+ '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')  
  }
  function showErrorInvalid(message, invalidfiles) {
    $('#alert-placeholder').html('<div class="alert alert-danger alert-dismissible fade show" style="margin:35px;"><strong>Error! </strong>'+ message+ '<br>' + invalidfiles +'<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')  
  }

  /*
    !Unknown Function
  */
  function getMonth(monthStr){
    return new Date(monthStr+'-1-01').getMonth()+1
  }
  
  /*
    !!show-filters-button addEventListener
    - duplicate with document.ready
      $("#show-filters-button").click(function() {
      $("#filters").toggle(); 
      });
    - add Event Listener to show-filters-button
    - control the display of filter table by adding or removing show class
  */
  document.getElementById("show-filters-button").addEventListener("click", function() {
    var filtersDropdown = document.getElementById("filters");
    filtersDropdown.classList.toggle("show");
  });
  

  /*
    !!function not does not work
    window.onclick
    - when user click on window, the dropdown table should removed
  */
  window.onclick = function(event) {
    console.log("click on window")
    // if click on window other than filter button
    if (!event.target.matches(".dropdown-toggle")) {
      console.log("other than dropdown button")
      var dropdowns = document.getElementsByClassName("dropdown-content"); // select all dropdown table
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i]; 
        if (openDropdown.classList.contains("show")) { // if dropdown tables are showing, remove all of them
          console.log("remove show")
          openDropdown.classList.remove("show");
        }
      }
    }
  };



  /*
    !!function need to discuss
    document EventListener DOMContentLoaded
    - work with info icon
    - it is repeat
    - Thus, var's scope is function block, this function is done nothing 
    - The DOMContentLoaded event fires when the HTML document has been completely parsed, 
      and all deferred scripts (<script defer src="…"> and <script type="module">) have downloaded and executed. 
      It doesn't wait for other things like images, subframes, and async scripts to finish loading.
    - 
  */
  document.addEventListener("DOMContentLoaded", function(){
    // select all attribute data-bs-toggle = "tooltip", then converts the NodeList into array by slice.call
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')) 

    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })

  /*
    showInput(button)
    - the button under "FILE NAME", which gives image a nickname
    - after click button, show input area
    - ??why using global variable in this function? (value, myInput, ...)
    
  */
  function showInput(button) {
    console.log("showInput")
    // every variables declare here are global variable
    value = button.getAttribute("value");
    myInput = document.getElementById("myInput_"+value);
    OGname = document.getElementById("myInput2_"+value);

    OGname.style.display = "none";
    myInput.style.display = "inline-block";
    showInputButton = document.getElementById("showInputButton_"+value);
    showInputButton.style.display = "none";
    aliasInputButton = document.getElementById("aliasInputButton_"+value);
    aliasInputButton.style.display = "inline-block";
  }


  /*
    ImageAliasInput
    - the button show after showInput function
    - fetch the new name in text input and pass it to backend
  */
  function ImageAliasInput(button) {
    // declare variable and fetch html element
    value = button.getAttribute("alias");
    DMSname = button.getAttribute("OGname");
    OGname = document.getElementById("myInput2_"+value);
    showInputButton = document.getElementById("showInputButton_"+value);
    aliasInputButton = document.getElementById("aliasInputButton_"+value);
    myInput = document.getElementById("myInput_"+value);
    aliasinput = document.getElementById("myInput_"+value);
    valuealias = "";

    // check input and update name
    if (aliasinput != null || aliasinput != "") {
      valuealias = aliasinput.value;
      if (!valuealias.endsWith(".tif")) {
        valuealias += ".tif";
      }
    } else {
      valuealias = DMSname;
    }

    // update UI
    OGname.style.display = "inline-block";
    myInput.style.display = "none";
    showInputButton.style.display = "inline-block";
    aliasInputButton.style.display = "none";

    // input format checking
    var reg = /^([a-zA-Z0-9._]*(\.tif))$/;
    var validateresult = reg.test(valuealias);
    if (validateresult == false) {
      message = "Please enter name with an underscore only";
      alert(message);
      return false;
    }
 
    // pass data to backend
    $.ajax({
      type: "POST",
      url: "/ImageAlias",
      data: { alias: valuealias, imageId: value },
      success: function(response) {
        value = button.getAttribute("alias");
        if(valuealias==".tif"){
        valuealias = DMSname}
        document.getElementById("myInput2_"+value).innerHTML = valuealias;
       
      } 
    })
  }


  /*
    clearInput (Dynamic)
    - clear input in filter table
  */
  function clearInput(){
    // reset value for each input under filter table
    document.getElementById("search-query").value = "";
    document.getElementById("myStartDate").value = "";
    document.getElementById("myEndDate").value = "";
    document.getElementById("latitude_min").value = "";
    document.getElementById("latitude_max").value = "";
    document.getElementById("longitude_min").value = "";
    document.getElementById("longitude_max").value = "";
    document.getElementById("altitude_min").value = "";
    document.getElementById("altitude_max").value = "";
    document.getElementById("fstop_min").value = "";
    document.getElementById("fstop_max").value = "";
    document.getElementById("pitch_min").value = "";
    document.getElementById("pitch_max").value = "";
    document.getElementById("roll_min").value = "";
    document.getElementById("roll_max").value = "";
    document.getElementById("shutter_min").value = "";
    document.getElementById("shutter_max").value = "";
    var electElement = document.querySelector('#menu');
    electElement.value = "all";
    $("input:checkbox").prop("checked",false);
    var filter_bright = $('input[name="filter_bright"]').prop('checked');
    var filter_medium = $('input[name="filter_medium"]').prop('checked');
    var filter_poor = $('input[name="filter_poor"]').prop('checked');
    var query = "";
    var username1 = "all"; 
    var startDate = "";
    var endDate = "";
    document.getElementById("showNone").style.display = "";
    $("#showNone").hide();
    
    //Post filter result to backend
    $.ajax({
      type: "POST",
      url: "/index",
      data: { query: query, filter_bright: filter_bright, filter_medium: filter_medium, filter_poor: filter_poor, username: username1, startDate: startDate, endDate: endDate },
      success: function(response) {
        if (response.status == 404){
          alert('End Date is earlier than the Start Date');
        }
        else{
          table = document.getElementById("imageTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              tr[i].style.display = "none";}
          }
          var len = response.listobj.length;
          if (len > 0) {
            for (var i = 0; i < len; i++) {
              addRow(response.listobj[i].id, 
                response.listobj[i].name, 
                response.listobj[i].alias, 
                response.listobj[i].upload_time, 
                response.listobj[i].uploader_name, 
                response.listobj[i].size, 
                response.listobj[i].width, 
                response.listobj[i].height,
                response.listobj[i].light,
                response.listobj[i].latitude,
                response.listobj[i].altitude,
                response.listobj[i].fstop,
                response.listobj[i].gps_date,
                response.listobj[i].pitch,
                response.listobj[i].roll,
                response.listobj[i].shutter_speed,
                response.listobj[i].thumbnail_path)
            }
          }
        }
      } 
    });
  }


  /*  
    addRow (dynamic)
    - addRow on clearInput
    - addRow on document.Ready 
        a. uploadFiles
        b. search bar
    - 
  */
  function addRow(id, alias, name, time, user, size, width, height, light, latitude, altitude, fstop, gps_date, pitch, roll, shutter_speed, thumbnail_path) {
    // Get a reference to the table
    console.log(thumbnail_path)
    let table = document.getElementById("imageTable");

    // Insert a row at the end of the table
    let newRow = table.insertRow(1);
    newRow.id = "tr_"+id;

    // Insert a cell in the row at index 0
    let preCell = newRow.insertCell(0);
    let nameCell = newRow.insertCell(1);
    let timeCell = newRow.insertCell(2);
    let userCell = newRow.insertCell(3);
    let sizeCell = newRow.insertCell(4);
    let dimCell = newRow.insertCell(5);
    let lightCell = newRow.insertCell(6);
    let actionCell = newRow.insertCell(7);

    //*************************First column******************************************/
    //first div
    let divElement = document.createElement("div");
    divElement.className = "d-flex align-items-center"
    let divElement0 = document.createElement("div");
    divElement0.setAttribute('style', 'display: flex;')
    
    //second div
    let divElement1 = document.createElement("div");
    divElement1.className = "ms-3";
    let input1 = document.createElement('input');
    input1.setAttribute('type', 'text');
    input1.setAttribute('id', 'myInput_'+id);
    input1.setAttribute('style', 'display: none');
    input1.setAttribute('placeholder', 'Image Alias...');
    divElement1.appendChild(input1);
    let imgElement = document.createElement("img");
    imgElement.id = name;
    imgElement.src = "/static/" + thumbnail_path;
    imgElement.setAttribute("data-toggle", "modal");
    imgElement.setAttribute("image_name", name);
    imgElement.width = 120;
    imgElement.height = 75;
    imgElement.setAttribute("data-target", '#preview'+id);
    preCell.appendChild(imgElement);

    let pElement1 = document.createElement("p");
    pElement1.className = "fw-normal mb-1";
    pElement1.setAttribute('id', 'myInput2_'+id);
    pElement1.setAttribute('style', 'display: inline-block');
    //Image name text
    let nameText = document.createTextNode(name);
    let aliasText = null; // Initialize the alias text node to null

    // Check if the alias is different from the name
    if (alias !== name) {
    aliasText = document.createTextNode(' (' + alias + ')'); // Create the alias text node
    }  
    let spaceText = document.createTextNode(' ');
    let ficonElement1 = document.createElement('i');
    let tooltip = document.createElement("span");
    tooltip.style.cursor = "pointer";
    tooltip.style.fontSize = "10px";
    tooltip.style.verticalAlign = "top";
    tooltip.setAttribute("data-bs-toggle", "tooltip");
    tooltip.setAttribute("data-bs-html", "true");
    tooltip.setAttribute("data-bs-placement", "top");
    tooltip.setAttribute("title", "Longitude: " + latitude + "<br>" +
                                      "Latitude: " + latitude + "<br>" +
                                      "Altitude: " + altitude + "<br>" +
                                      "Fstop: " + fstop + "<br>" +
                                      "GPS Date: " + gps_date + "<br>" +
                                      "Pitch: " + pitch + "<br>" +
                                      "Roll: " + roll + "<br>" +
                                      "Shutter Speed: " + shutter_speed);
    ficonElement1.className = "fas fa-info-circle";
    tooltip.appendChild(ficonElement1);

    let spaceText1 = document.createTextNode(' ');
    let btnElement2 = document.createElement("button");
    btnElement2.className = " btn  btn-secondary";
    btnElement2.setAttribute('id', 'showInputButton_'+id);
    btnElement2.setAttribute("onclick", "showInput(this)");
    btnElement2.setAttribute('type', 'button');
    btnElement2.setAttribute('value', id);
    btnElement2.setAttribute('style', 'display: inline-block; background-color: #324755;');



    let ficonElement2 = document.createElement('i');
    ficonElement2.className = "fa fa-edit";
    ficonElement2.setAttribute("aria-hidden","true");
    btnElement2.appendChild(ficonElement2);

    let btnElement3 = document.createElement("button");
    btnElement3.className = " btn  btn-secondary";
    btnElement3.setAttribute('id', 'aliasInputButton_'+id);
    btnElement3.setAttribute('onclick', 'ImageAliasInput(this)');
    btnElement3.setAttribute('type', 'button');
    btnElement3.setAttribute('style', 'display: none; background-color: #324755;');
    btnElement3.setAttribute('alias', id);
    btnElement3.setAttribute('OGname', name);

    let ficonElement3 = document.createElement('i');
    ficonElement3.className = "fa fa-save";
    ficonElement3.setAttribute("aria-hidden","true");
    ficonElement3.setAttribute('style', 'display: inline-block; background-color: #324755;');

    btnElement3.appendChild(ficonElement3);
    pElement1.appendChild(btnElement3);

    pElement1.appendChild(nameText);
    if (aliasText !== null) {
      pElement1.appendChild(aliasText); // Append the alias text node
    }  
    pElement1.appendChild(spaceText);
    pElement1.appendChild(tooltip);
    pElement1.appendChild(spaceText1);
    pElement1.appendChild(btnElement2);
    let tooltipList = new bootstrap.Tooltip(tooltip, {
      delay: { show: 200, hide: 100 } // Add a slight delay to hide the tooltip on mouse leave
    });

    tooltip.addEventListener("mouseenter", function () {
      
      tooltipList.show();
    });

    // Add mouseleave event to hide the tooltip when the mouse leaves the element
    tooltip.addEventListener("mouseleave", function () {
    
      tooltipList.hide();
    });
    
    let pElement2 = document.createElement('p');
    pElement2.className = "text-muted mb-0";
    //Source text
    let sourceText = document.createTextNode("Source: Operation IceBridge Data Portal");
    pElement2.appendChild(sourceText);
    divElement1.appendChild(pElement1);
    divElement1.appendChild(spaceText);
    divElement1.appendChild(btnElement2);
    divElement1.appendChild(btnElement3);
    
    divElement1.appendChild(spaceText1);
    divElement1.appendChild(tooltip);

    divElement1.appendChild(pElement2);
    
    //second div append to first div
    divElement.appendChild(divElement1)

    //first div append to td
    nameCell.appendChild(divElement);
    //*************************Second column******************************************/
    let pElement3 = document.createElement('p');
    pElement3.className = "fw-normal mb-1";
    //time text

    var time_split = time.split(' ')
    month = monthsShort[time_split[2]];
    var time_fmt = time_split[3]+'-'+month+'-'+time_split[1] +' '+time_split[4]
    console.log(time_fmt)
    let timeText = document.createTextNode(time_fmt);
    pElement3.appendChild(timeText)
    timeCell.appendChild(pElement3);
    //*************************Third column******************************************/
    let pElement4 = document.createElement('p');
    pElement4.className = "fw-normal mb-1";
    let userText = '';
    if (user == 'default'){
      userText = document.createTextNode('Administrator');
    }
    else{
      userText = document.createTextNode(user);
    }
    pElement4.appendChild(userText)
    userCell.appendChild(pElement4);
    //*************************Fourth column******************************************/
    let pElement5 = document.createElement('p');
    pElement5.className = "fw-normal mb-1";
    //size text
    let sizeText = document.createTextNode(size);
    pElement5.appendChild(sizeText)
    sizeCell.appendChild(pElement5);
    //*************************Fifth column******************************************/
    let pElement6 = document.createElement('p');
    pElement6.className = "fw-normal mb-1";
    //dimension text
    let dimText = document.createTextNode(width + ', '+height);
    pElement6.appendChild(dimText)
    dimCell.appendChild(pElement6);
    //*************************Six column******************************************/

    //*************************Seven column******************************************/
    let pElement8 = document.createElement('p');
    pElement8.className = "fw-normal mb-1";
    let lightText = document.createTextNode(light);
    pElement8.appendChild(lightText)
    lightCell.appendChild(pElement8);
    //*************************Eighth column******************************************/

    let cropAnchor = document.createElement("a");
    cropAnchor.href = '/crop/?id='+id;
    let cropButton = document.createElement("button");
    cropButton.className = "action-button open-cropping-tool";
    cropButton.setAttribute("type", "button");
    let cropIcon = document.createElement("i");
    cropIcon.className = "fas fa-crop";
    cropButton.appendChild(cropIcon);
    cropButton.appendChild(document.createTextNode("Crop Image"));
    cropAnchor.appendChild(cropButton);
    
    let deleteButton = document.createElement("a");
    deleteButton.href = "#";
    deleteButton.className = "btn btn-secondary";
    deleteButton.setAttribute("style", "background-color: #324755;");
    let trashIcon = document.createElement("i");
    trashIcon.className = "fas fa-trash";
    // deleteButton.appendChild(trashIcon);
    divElement0.appendChild(cropAnchor);
    // divElement0.appendChild(deleteButton);
    actionCell.appendChild(divElement0);
    document.addEventListener("DOMContentLoaded", function() {
      let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      let tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    });

    //*************************Image Previews******************************************/
    $("#previews").append('<div class="modal fade" id="preview'+id+'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> <div class="modal-dialog" role="document" style="max-width: 70%;"> <div class="modal-content"> <div class="modal-header"> <h5 class="modal-title" id="exampleModalLabel"> '+name+' </h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"> × </span> </button> </div> <div class="modal-body" style="margin: auto;"> <img src="/static/'+thumbnail_path+'" /> </div> </div> </div> </div>');
  }



  /*
    progress
    - used under document.ready
  */

  console.log("function progress(e)");
  function progress(e) {
    if (e.lengthComputable) {
      $("#progressBar").show();
      var max = e.total;
      var current = e.loaded;
      var percentComplete = (current * 100) / max;
      progressBarFill.style.width = percentComplete.toFixed(2) + "%";
      progressBarText.textContent = percentComplete.toFixed(2) + "%";
      if (percentComplete >= 100) {
        percentComplete = 0;
        progressBarFill.style.width = percentComplete.toFixed(2) + "%";
        progressBarText.textContent = percentComplete.toFixed(2) + "%";
        $("#progressBar").hide();
      }
    }
  }

  /*
    prevPage
    - previous page of images
  */
  function prevPage() {
    if (currentPage > 1) {
      currentPage--;
      displayRows();
    }
  }

  /*
    nextPage
    - next page of images
  */
  function nextPage() {
    if (currentPage < totalPages) {
      currentPage++;
      displayRows();
    }
  }

  /*
    !!gotoPage
    - not used yet
  */
  function gotoPage() {
    var page = parseInt(document.getElementById("goToPage").value);
    if (page >= 1 && page <= totalPages) {
      currentPage = page;
      displayRows();
    }
  }

   /*
    displayRows
    - the function used under prevPage, nextPage, and gotoPage
  */
  function displayRows() {
    var startRow = (currentPage - 1) * rowsPerPage + 1;
    var endRow = Math.min(startRow + rowsPerPage - 1, totalRows);
    for (var i = 1; i <= totalRows; i++) {
      var row = document.getElementById("imageTable").rows[i];
      if (i >= startRow && i <= endRow) {
        row.style.display = "table-row";
      } else {
        row.style.display = "none";
      }
    }
    document.getElementById("currentPage").innerHTML = currentPage;
    document.getElementById("totalPages").innerHTML = totalPages;
  }


  /*
    Document ready
    - Code included inside $( document ).ready() will only run once the page Document Object Model (DOM) 
      is ready for JavaScript code to execute.
  */
  $(document).ready(function(){
    // display data as row 
    displayRows()

    // control filter table add and remove
    $("#show-filters-button").click(function() {
      $("#filters").toggle(); /* toggle the visibility of the filters */
    });

    /*
     !!showloader 
     - include ajaxStart and ajaxComplete
     - logic issue: showloader never be true
    */
    // whenever using ajax, this function will be called, !!showloader always false
    $(document).ajaxStart(function(){
      console.log("ajax start")
      if (showloader){
        console.log("showloader")
        $("#wait").css("display", "block");
      }
    });    

    // whenever ajax finished, this function will be called.
    $(document).ajaxComplete(function() {
      console.log("ajaxComplete")
      $("#wait").css("display", "none");
      showloader = false;
    });

    // hide progressBar for upload image
    $("#progressBar").hide();

    // !! need discuss, why add empty click on #files
    $("#imageupload").click(function() {
        console.log("files click")
        $("#files").click();
    });
    

    $("#files").change(function() {
        var files = this.files;
        if (files && files.length > 0) {
            uploadFiles(files);
        }
    });

    $("#imageForm").submit(function(e) {
        e.preventDefault();
    });

    function uploadFiles(files) {
      var form_data = new FormData();
      var totalfiles = files.length;

      if (totalfiles == 0) {
        var message = "Please select a file to upload.";
        showError(message);
        return;
      }

      for (var index = 0; index < totalfiles; index++) {
          form_data.append("files[]", files[index]);
      }

      form_data.append("name", username);

      $("#imageupload").prop("disabled", true);
      document.getElementById("files").disabled = true;
      $("#progressBar").show();

      $.ajax({
        type: "POST",
        processData: false,
        contentType: false,
        cache: false,
        url: "{{url_for('uploadMultiOriginalImage')}}",
        enctype: 'multipart/form-data',
        data: form_data,
        dataType: 'json',
        beforeSend: function(data) {},
        xhr: function() {
          var myXhr = $.ajaxSettings.xhr();

          if (myXhr.upload) {
              myXhr.upload.addEventListener('progress', progress, false);
          }
          return myXhr;
        },
        success: function(response) {
          if (response.status == 200) {
            showSuccess(response.message);
            $("#files").val(null);
            $("#imageupload").prop("disabled", false);
            document.getElementById("files").disabled = false;
            var len = response.listobj.length;
            if (len > 0) {
              for (var i = 0; i < len; i++) {
                addRow(
                  response.listobj[i].id,
                  response.listobj[i].name, 
                  response.listobj[i].alias,
                  response.listobj[i].upload_time,
                  response.uploader_name,
                  response.listobj[i].size,
                  response.listobj[i].width,
                  response.listobj[i].height,
                  response.listobj[i].light,
                  response.listobj[i].latitude,
                  response.listobj[i].altitude,
                  response.listobj[i].fstop,
                  response.listobj[i].gps_date,
                  response.listobj[i].pitch,
                  response.listobj[i].roll,
                  response.listobj[i].shutter_speed,
                  response.listobj[i].thumbnail_path);
              }
            }
            // Hide the "No images to show" row after successful upload
            $("#tr_noimage").hide();
          } else {
            $("#files").val(null);
            $("#imageupload").prop("disabled", false);
            document.getElementById("files").disabled = false;
            showErrorInvalid(response.message, response.invalidfiles);
          }
        }
      });
    }

    /*
      search (dynamic)
    */
    $("#search-form").submit(function(e) {
      e.preventDefault();
      
      // Get the search query
      var query = $("#search-query").val();
      var filter_bright = $('input[name="filter_bright"]').prop('checked');
      var filter_medium = $('input[name="filter_medium"]').prop('checked');
      var filter_poor = $('input[name="filter_poor"]').prop('checked');
      var electElement = document.querySelector('#menu');
      var username1 = electElement.value;
      var startDate = document.getElementById("myStartDate").value;
      var endDate = document.getElementById("myEndDate").value;
      var latitude_min = document.getElementById("latitude_min").value; 
      var latitude_max = document.getElementById("latitude_max").value;
      var longitude_min = document.getElementById("longitude_min").value; 
      var longitude_max = document.getElementById("longitude_max").value;
      var altitude_min = document.getElementById("altitude_min").value; 
      var altitude_max = document.getElementById("altitude_max").value;
      var fstop_min = document.getElementById("fstop_min").value; 
      var fstop_max = document.getElementById("fstop_max").value;
      var pitch_min = document.getElementById("pitch_min").value; 
      var pitch_max = document.getElementById("pitch_max").value;
      var roll_min = document.getElementById("roll_min").value; 
      var roll_max = document.getElementById("roll_max").value;
      var shutter_min = document.getElementById("shutter_min").value; 
      var shutter_max = document.getElementById("shutter_max").value;
      console.log(shutter_min)
      console.log(shutter_max)
      $("#showNone").hide();
      // Send an AJAX request to the Flask backend
      $.ajax({
        type: "POST",
        url: "/index",
        data: { query: query, 
          filter_bright: filter_bright, 
          filter_medium: filter_medium, 
          filter_poor: filter_poor, 
          username: username1, 
          startDate: startDate,
          longitude_min: longitude_min, 
          longitude_max: longitude_max, 
          latitude_min: latitude_min, 
          latitude_max: latitude_max, 
          altitude_min:altitude_min,
          altitude_max:altitude_max,
          fstop_max:fstop_max,
          fstop_min:fstop_min,
          pitch_min:pitch_min,
          pitch_max:pitch_max,
          roll_max:roll_max,
          roll_min:roll_min,
          shutter_max:shutter_max,
          shutter_min:shutter_min,

          endDate: endDate },
        success: function(response) {
          
          if (response.status == 404){
            alert('End Date is earlier than the Start Date');
          }
          if (response.status == 400){
            table = document.getElementById("imageTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                txtValue = td.textContent || td.innerText;
                tr[i].style.display = "none";
              }
            }
            $("#showNone").show();

          }
          else{
            table = document.getElementById("imageTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                txtValue = td.textContent || td.innerText;
                tr[i].style.display = "none";
              }
            }
            var len = response.listobj.length;
            console.log(len);
            if (len > 0) {
              for (var i = 0; i < len; i++) {
                addRow(response.listobj[i].id, 
                      response.listobj[i].name, 
                      response.listobj[i].alias, 
                      response.listobj[i].upload_time, 
                      response.listobj[i].uploader_name, 
                      response.listobj[i].size, 
                      response.listobj[i].width, 
                      response.listobj[i].height,
                      response.listobj[i].light,
                      response.listobj[i].latitude,
                      response.listobj[i].altitude,
                      response.listobj[i].fstop,
                      response.listobj[i].gps_date,
                      response.listobj[i].pitch,
                      response.listobj[i].roll,
                      response.listobj[i].shutter_speed,
                      response.listobj[i].thumbnail_path)
                console.log(response.listobj[i]);
              }
            }
          }
        }
      });
    });
  });
</script>
{% endblock %}