.DS_Store
.flaskenv
app/flask_session
app/static/images/default/**
app/static/images/user_images/**
__pycache__
lib/attribute_calculations.*
lib/rescale_intensity.*
templates/label_sumedha.html
lib/Windows/**
lib/Linux/**
lib/Mac/**
.vs
*.c
*.pyd
app/classxlib/**/*.pyd
app/classxlib/**/*.c
app/classxlib/**/*.so
app/classxlib/**/*.cache
.env
docker/prod/nginx/certs/**
git_filter_repo.py
git-filter-repo
test/**
archive/**
.vscode
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pthmodellib/trained_models/*
