{% extends 'dashboard/base.html' %}
{% block content %}
<div class="title">
    Home
</div>
<div class="statistics">
    <div class="statistics-top">
        <span class="alias"></span>
        <span class="name">DMS_1604309_10159_20160422_00283772_04.tif</span>
        <i class="fa-regular fa-pen-to-square updateAlias"></i>
    </div>
    <div class="statistics-mid">
        <div class="block geo">
            <i class="icon fa-solid fa-earth-americas"></i>
            <div class="detail">
                <ul>
                </ul>
            </div>
        </div>
        <div class="block feature">
            <i class="icon fa-solid fa-file-invoice"></i>
            <div class="detail">
                <ul>
                </ul>
            </div>
        </div>
        <div class="block image">
            <i class="icon fa-regular fa-image"></i>
            <div class="detail">
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="statistics-bottom">
        <div class="block prviewImage">
            <div id="show-img"> </div>
        </div>
        <div class="block history">
            <div class="section-title">
                Changing History(Future)
            </div>

        </div>
    </div>
</div>
<script crossorigin="anonymous">
    let IMG = {{ original_image | tojson }};
    const homePreviewImage = document.querySelector('#show-img');
    const imgName = document.querySelector(".statistics-top .name");
    const imgAlias = document.querySelector(".statistics-top .alias");
    const updateAlias = document.querySelector(".updateAlias");
    const geoInfoBlock = document.querySelector(".geo ul");
    const featureInfoBlock = document.querySelector(".feature ul");
    const imgInfoBlock = document.querySelector(".image ul");

    // set homepage preview
    homePreviewImage.style.backgroundImage = `url(/static/${IMG.thumbnail_path})`;
    // set homepage IMG name and alies
    function checkImageName(){
        imgName.innerHTML = IMG.name;
        if(IMG.name == IMG.alias ||  IMG.alias == ""){
            if(imgName.classList.contains("secondTitle")){
                imgName.classList.remove("secondTitle");
            }
            imgAlias.style.display = "none";
        }else{
            imgAlias.style.display = "inline";
            imgAlias.innerHTML = IMG.alias;
            imgName.classList.add("secondTitle");
        }
    }

    // update alias
    updateAlias.addEventListener("click", function(){
        // Get new alies
        let newAlies = prompt("Enter new Alies for this image:\n(Empty input will reset to original name)");
        console.log(newAlies);

        // Store it to backend
        $.ajax({
            type: "POST",
            url: "{{url_for('original.changeImageAlias')}}",
            data: { alias: newAlies, original_id: IMG.id },
            dataType: "json",
            success: function(response) {
                // update name
                if(response.status == 200){
                    IMG = response.original_image;
                    checkImageName();
                }
            }
          });

    });

    // Uppercase first letter and replace "_" by space
    function stringFormat(str){
        return str.charAt(0).toUpperCase() + str.slice(1).replace("_"," ");
    }

    $(document).ready(function(){
        // Check image name
        checkImageName();

        // dynamically load img information
        let IMG_ENTRIES = Object.entries(IMG.metadata);
        console.log(IMG_ENTRIES);
        for(let i = 0; i < IMG_ENTRIES.length; i++){
            let key = IMG_ENTRIES[i][0];
            let val = IMG_ENTRIES[i][1];
            if(key == "longitude" || key == 'latitude'){
                geoInfoBlock.appendChild(formatData(stringFormat(key), val));
            }else{
                featureInfoBlock.appendChild(formatData(stringFormat(key), val));
            }
        }
        imgInfoBlock.appendChild(formatData("Created Date", IMG.creation_date));
        //imgInfoBlock.appendChild(formatData("Last Update Date", IMG.creation_date));
        imgInfoBlock.appendChild(formatData("Size(MB)", IMG.size));
        imgInfoBlock.appendChild(formatData("Dimension", `${IMG.height},${IMG.width}`));
        imgInfoBlock.appendChild(formatData("Upload User", "Adminstrator"));
    })
</script>
{% endblock %}