/* .sub-title {
    border-bottom: 1px solid var(--sepereteLine);
    margin-bottom: 15px;
    padding-bottom: 10px;
} */

.step-name {
    font-weight: 600;
}

.pre-processing,
.algorithm-setting,
.post-processing {
    margin-bottom: 8px;
}


.training-save-btn,
.auto-label-confirm {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*
    - compare-section
        - compare-operation
            - compare-img-list
                -compare-img
            - compare-left
                - compare-left-drop
                - compare-left-info
                    - compare-card
                        - compare-img
                        - compare-detail
            - compare-right
                - compare-right-drop
                - compare-right-info
                    - compare-card
                        - compare-img
                        - compare-detail

*/


/* .compare-operation {
    background-color: var(--bgColor);
    margin: 5vh auto;
    height: 90vh;
    --compareWindowWidth: 90vw;
    width: var(--compareWindowWidth);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: relative;
} */

/* .compare-section-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
} */

/* .compare-img-list {
    background-color: burlywood;
    width: calc(var(--compareWindowWidth)*0.19);
    height: 100%;
    overflow-y: scroll;
} */

/* .compare-img {
    width: calc(var(--compareWindowWidth)*0.18);
    aspect-ratio: 1 / 1;
    background-size: contain;
}

.compare-right,
.compare-left {
    background-color: rgba(153, 205, 50, 0.277);
    width: 38%;
    height: 100%;
    position: relative;
}

.compare-right-drop,
.compare-left-drop {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.compare-right-info,
.compare-left-info {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.compare-right {
    background-color: rgba(218, 165, 32, 0.265);
    width: 38%;
    height: 100%;
    z-index: 1;
} */

/* .comparing-card {
    height: 100%;
    width: 100%;
}

.comparing-img {
    height: 50%;
    aspect-ratio: 1/1;
    background-size: contain;
    margin: 10px auto;
    border-radius: 10px
}

.comparing-detail {
    padding: 2vh 0;
    height: 50%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
} */

/*
    - label-section
        -label-operation
*/


/* 
    - segment-dashboard
        - segment-img-preview-section
            -segment-img-preview
        - left-col
        - right-col
            - boundary-img-gallery
            - page-switch 
            - page-switch-arrow
                - page-switch-arrow-btn
*/

/* .segment-img-preview-section {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 189, 189, 0.506);
    top: 0;
    left: 0;
    z-index: 1000;
} */

/* .segment-img-preview {
    position: relative;
    height: 60vh;
    width: 60vw;
    margin: 50px auto;
    background-color: #fff;
} */

/* .mark-cancel-btn {
    position: absolute;
    right: 110px;
    bottom: 10px;
}

.mark-save-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
} */

/* .segment-dashboard {
    display: flex;
} */

/* .left-col {
    width: 30vw;
    overflow: hidden;
}

.right-col {
    width: 50vw;
    position: relative;
} */

/* .no-segment-yet {
    position: absolute;
    z-index: 1;
    font-size: 48px;
    color: var(--sepereteLine);
    top: 43%;
    right: 20%;
} */

/* .page-switch-arrow {
    /* position: absolute; */
/* bottom: 5px;
    right: 5px; *
    display: flex;
}

.page-switch-arrow-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.page-switch-arrow-btn:hover {
    background-color: #b2b2b2;
    transform: scale(1.2);
} */

/* .arrow-left {
    position: absolute;
    top: 50%;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
} */


/* .setting {
    height: 60vh;
    position: relative;
} */

/* .mark-boundary {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.algorithm {
    margin: 2vh 3vw;
} */

/* .algorithm-setting {
    width: 400%;
    display: flex;
    overflow: hidden;
} */

/* .alogrithm-block {
    width: 25%;
} */

/* .rangeInput[type='number'] {
    margin-top: 9px;
    display: block;
    border: 0;
    width: 50px;
} */

/* form {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80%;
}

form::-webkit-scrollbar {
    background-color: var(--bgColor);
    outline: 1px var(--text-color);
    border-radius: 50px;
    width: 10px;

}

form::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

form::-webkit-scrollbar-track {
    background: var(--bgColor);
    border-radius: 50px;
} */


/* .boundary-img-gallery {
    margin: 2vh 3vw;
    height: 88%;
    position: relative;
}

.compare-btn {
    position: absolute;
    top: 30px;
    right: 27px;
} */

/* 
    Gallery Class style setting 
    - Gallery
        - top-row
        - bot-row
            - seg-card
                - seg-img
                - seg-detail
                    - name date
                    - more
*/
/* .Gallery {
    padding: 0;
    height: 90%;
    --tableWidth: 42vw;
    width: var(--tableWidth);
    overflow: hidden;
} */

/* .top-row,
.bot-row {
    height: 50%;
    display: flex;
    transition: all 0.5s linear;
    margin-bottom: 15px;
} */



/* .seg-card {
    background-color: #fff;
    padding: calc(var(--tableWidth)* 0.005);
    transition: all 0.3s linear;
    font-size: 16px;
} */

/* .seg-img {
    width: calc(var(--tableWidth)* 0.24);
    height: calc(var(--tableWidth)* 0.24);
    border-radius: 5px;
    background-size: contain;
}

.seg-img:hover .hoverBG {
    opacity: 1;
    background-color: rgba(201, 201, 201, 0.5);
} */

/* .seg-library {

    width: 100%;
} */

/* .seg-detail {
    position: relative;
    height: 45px;
} */

/* .seg-detail-name {
    font-size: large;
    font-weight: 600;
}

.seg-detail-date {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: small;
}

.seg-detail-hide-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: small;
}


.seg-detail-hide-btn-icon {
    font-size: smaller;
    color: #7c7c7c;
}

.seg-detail-hide {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    width: 177px;
    left: -128px;
    float: left;
    font-size: smaller;
    top: -130px;
    transition: all 0.3s linear;
}

.seg-detail-hide-btn:hover .seg-detail-hide {
    visibility: visible;
    opacity: 1;
    z-index: 100;
} */

/* 
    Pop-up interface (done)
    - set background to bury 
*/
/* .pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
} */

/* label */
/* 
.label-operation {
    background-color: var(--bgColor);
    margin: 5vh auto;
    height: 90vh;
    width: 90vw;
} */

/* .label-dashboard, */
/* .statistics-top,
.operation-bot {
    display: flex;
} */

/* .label-statistics {
    width: 26vw;
    height: 37vh;
    margin: 10px;
    padding: 10px;
} */

/* .setting-save,
.auto-label-section {
    width: 26vw;
    height: 29vh;
    margin: 10px;
    position: relative;
} */


/* .select-model {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
} */

/* auto label 
    - save-label-section
        - save-training-cross


*/
/* .save-label-section {
    display: none;
    position: absolute;
    right: 37%;
    z-index: 1001;
}

.save-training-cross {
    position: absolute;
    top: 25px;
    right: 32px;
} */


/* .close-label {
    position: absolute;
    right: 19px;
    bottom: 5px;
} */

/* .preview-image {
    width: 400px;
    display: block;
    margin: auto;
}

.preview-mult-image {
    width: 300px;
    display: block;
    margin: auto;
}


.preview-top-row,
.preview-bot-row {
    display: flex;
    justify-content: space-around;
} */

/* .preview-card-mult {
    padding: 10px;
    width: 100%;
    transition: all 0.3s linear;
}

.preview-card-mult:hover {
    background-color: var(--bgColor);
} */