:root {
    --bg-color: linear-gradient(to bottom right, #000, #666, #fff);
    --primary: #324755;
    --secondary: #4a88a2;
    --container-bg-color: rgba(68, 68, 68, 0.8);
    --text-color: #fff;
    --link-color: #9fa8da;
}

#bot_container {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}




.collapsible {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: var(--secondary);
}

.collapsible_content {
    padding: 10px 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #324755;

}

.minmaxElement {
    display: flex;
    flex-direction: column;
}

.collapsible_icon {
    height: 1.2vw;
}

.minus {
    display: none;
}

/*************
    filter
*************/

.filter_container {
    height: 744px;
    min-width: 16vw;
    background-color: var(--primary);
    color: #fff;
    padding: 40px 40px;
    border-radius: 30px 0px 0px 30px;
    transition: all 400ms ease;
}

#filter_display_btn {
    display: none;
    height: 48px;
    padding-left: 40px;
    line-height: 48px;
}

.filter_btns {
    margin-top: 1vw;
    height: 70px;
}

.filter_btns button:first-child {
    margin-right: 20px;
}

.filter_btn {
    border-radius: 8px;
    padding: 5 px 8px;
    color: var(--white);
    text-decoration: none;
    background: var(--secondary);
    border: none;
    padding: 10px 14px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
    display: inline-block;
}

.filter_btn:hover {
    background: var(--secondary);
    transform: scale(1.02);
}

#filter-form {
    height: 100%;
    min-width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#filters {
    overflow-y: scroll;
}

div#filters::-webkit-scrollbar {
    background-color: var(--text-color);
    outline: 1px var(--text-color);
    border-radius: 50px;
    width: 10px;
}

div#filters::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

div#filters::-webkit-scrollbar-track {
    background: var(--text-color);
    border-radius: 50px;
}

/* 
    On screen size change
*/
@media screen and (min-width: 1100px) and (max-width:1700px) {
    #imageTable tr td:first-of-type:hover div {
        transform: translateX(7%);
        -webkit-transform: translateX(7%);
        -moz-transform: translateX(7%);
        -ms-transform: translateX(7%);
        -o-transform: translateX(7%);
}
}

@media screen and (max-width: 1100px) {
    #bot_container {
        display: block;
    }

    div#filters::-webkit-scrollbar {
        width: 0px;
    }

    .hide_height {
        height: 0;
    }

    .filter_container {
        border-radius: 20px;
        padding-top: 10px;
    }

    .hide_filter {
        height: 68px;
    }

    #filter_display_btn {
        display: flex;
        justify-content: space-between;
    }

    .show_filter {
        height: 774px;
    }

    .drop_left,
    .drop_down {
        display: none;
    }

    .show {
        display: block;
    }

    .hideable {
        display: none;
    }

    th {
        height: 63px;
    }

}