{% extends 'homepage/base.html' %}
{% block content %}
<!---->
<div class="headerPricing">
    <div class="headerPricingContent">
        <h2>Pricing</h2>
    </div>
</div>

<main>
    <div class="pricingMain">
        <h1>Our Pricing Plans</h1>
        <div class="pricingPlans">
            <div class="plan">
                <h2>Basic</h2>
                <p class="price">$/month</p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                <button>Sign Up</button>
            </div>
            <div class="plan">
                <h2>Standard</h2>
                <p class="price">$/month</p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                </ul>
                <button>Sign Up</button>
            </div>
            <div class="plan">
                <h2>Premium</h2>
                <p class="price">$/year</p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                    <li>Feature 5</li>
                </ul>
                <button>Sign Up</button>
            </div>
        </div>
        <br>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
             non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</main>

<script>
    $(document).ready(function(){
        Array.from(menuNav.children).forEach(item =>
            item.classList.remove("active")
        );
        console.log(menuNav.children[2]);
        menuNav.children[2].classList.add("active");
         
    })
</script>

{% endblock %}