<!doctype html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <meta name="description" content="We're having issues D:">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="errorAll">
  <div class="errorContainer">
    <h1>500</h1>
    <h2>Internal Server Error</h2>
    <p>There's been an issue on our end with our internal server. If the <br> issue persists, 
    please report it <a href="/contact">here.<a/></p>
    <button type="button" class="errorBtn" onclick="history.back();">Go Back to Previous Page</button>
</div>
</div>
</body>
</html>
