/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* done */

/* :root {
    --bgColor: #f1f1f1;
    --blockColor: #FFFFFF;
    --TitleColor: #646464;
    --btnColor: #3965FF;
    --progressBar: #D9D9D9;
    --progressBtn: #757ED1;
    --dropTable: #E2E2E2;
    --sepereteLine: #C9C9C9;
} */

/* done */
/* 
a {
    text-decoration-line: none;
} */

/* done */
/* 
a:link,
a:visited,
a:hover,
a:active {
    color: #000;
} */

/* done */

/* li {
    list-style: none;
}

body {
    display: flex;
} */

/* done */


/* 
    side bar
*/
/* 
#sideBar {
    background: var(--blockColor);
    width: 250px;
    position: relative;
} */

/* done */

/* #preview {
    width: 150px;
    height: 112px;
    margin: 50px auto;
    background: no-repeat;
    background-size: contain;
    transition: all 0.3s linear;
    z-index: 1001;
} */

/* done */
/* 
#preview:hover {
    transform: translate(50%, 10%) scale(1.8);
} */

/* done */

/* #preview img {
    width: 100%;
} */

/* done */
/* 
#switchBar {
    margin-left: 20px;
} */

/* done */
/* 
#switchBar div {
    margin-top: 30px;
} */

/* done */

/* 
    container
*/

/* #container {
    background: var(--bgColor);
    width: 100%;
    height: 100vh;
} */

/* done */
/* 
.title {
    padding: 40px 50px;
    font-size: 35px;
    border-bottom: 1.5px solid var(--sepereteLine);
} */

/* 
.dashboard {
    padding: 20px 100px;
} */
/* 
.switchBtn {
    padding: 10px 5px;
}

.switchBtn:hover {
    background-color: #E2E2E2;
} */

/* 
    BTN style
*/

/* .btn-primary {
    padding: 10px 15px;
    color: #fff;
    background-color: var(--btnColor);
    cursor: pointer;
    border: var(--sepereteLine) 1px solid;
    border-radius: 8px;
    transition: all 0.4s linear;
    text-align: center;
    user-select: none;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #324755;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.3 linear;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-secondary:hover {
    transform: scale(1.05);
} */

/* .fw-600 {
    font-weight: 600;
}


.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 300px;
    z-index: 1;
    background-color: red;
    opacity: 0;
    animation-duration: 3s;
    /* text style *
text-align: center;
line-height: 100px;
border-radius: 15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

*/

/* /*********************************************** 
                Drop down table
***********************************************/
/*the container must be positioned relative:*
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/


/*style the arrow inside the select element:*
.select-selected:after {
    position: absolute;
    content: "";
    top: 35px;
    right: 25px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-color: #bdbdbd transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #bdbdbd transparent;
    top: 23px;
}

/*style the items (options), including the selected item:*
.select-items div,
.select-selected {
    background-color: white;
    border-radius: 18px;
    padding: 30px 50px 30px 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.box {
    width: 0;
    height: 0;
    border: 10px solid black;
    border-color: black transparent transparent transparent;
}

.back-home {
    position: absolute;
    bottom: 10px;
    right: 10px;
} */