.blurred-background {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #585757;
    opacity: 0.5;
    z-index: 2;
}

/* 
============================
basic style of upload images
============================
*/


/*button style*/
.btn {
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    text-align: center;
    width: 93.5px;
    height: 40px;
    line-height: 29px;
    font-weight: 700;
}

.upload_window {
    display: none;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}


/*top side of image upload window*/
.upside {
    background-color: #fff;
    margin: 0 auto;
    width: 570px;
    height: 596px;
    border: 1px solid #585757;
    border-radius: 25px 25px 0 0;
    padding: 25px 17px;
    position: relative;
    border-bottom: 0;
    box-sizing: border-box;
}

.upside_title {
    font-size: 25px;
    font-weight: 700;
}

.upside_upload {
    width: 520px;
    height: 280px;
    border: 2px dashed #3399FF;
    margin: 20px auto;
    border-radius: 25px;
    position: relative;
}

.img_icon {
    display: block;
    width: 82px;
    margin: 60px auto 10px;
}

.remind_text {
    color: #B3B3B3;
    text-align: center;
}

.upload_btn {
    position: absolute;
    left: 196px;
    width: 126px;
    height: 50px;
    border: 1px solid #B3B3B3;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    transition: all .1s ease;
}

.upload_btn:hover {
    transform: scale(1.02);
    background-color: #9b9b9b;
    color: #fff;
    cursor: pointer;
}

.upload_btn label {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 17px;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s linear;
}

.upload_btn label:hover {
    transform: scale(1.02);
}

.domain_selection {
    margin: 20px auto;
    display: flex;
    width: 520px;
    justify-content: space-between;
}

.DM_container {
    width: 240px;
    height: 100px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    /* transition: all .2s linear; */
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default radio button */
.DM_container input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

/* unchecked style radio */
.checkmark {
    /*absolute makes span to block*/
    position: absolute;
    right: 10px;
    top: 10px;
    height: 15px;
    width: 15px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
}

/* hidden checked style */
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* show checked style */
.DM_container input:checked~.checkmark::after {
    display: block;
}

/* restyle uncheck style on checked state */
.DM_container input:checked~.checkmark {
    height: 17px;
    width: 17px;
    border: 0;
}

/* style checked style */
.DM_container .checkmark::after {
    background-image: url(./check.png);
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
}

/* domain selector description */
.DM_container div:first-of-type {
    margin-top: 15px;
    margin-left: 13px;
}

/* the label has child input is checked */
.DM_container:has(input:checked) {
    border: 2px solid #3333FF;
    /* transform: scale(1.1); */
}

/* new domain selector input area */
.DM_container input[type="text"] {
    box-sizing: border-box;
    margin-left: 13px;
    margin-top: 15px;
    width: 215px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
}

/* new domain placeholder */
input::placeholder {
    padding-left: 10px;
    color: #9b9b9b;
}

/* existing domain selector input area */
.DM_container select {
    box-sizing: border-box;
    margin-left: 13px;
    margin-top: 15px;
    width: 215px;
    height: 30px;
    padding: 1px 2px;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    color: #9b9b9b;
}

/* control_btn */
.downside {
    margin: 0 auto;
    opacity: 1;
    background-color: #fff;
    box-sizing: border-box;
    width: 570px;
    height: 74px;
    border: 1px solid #585757;
    border-top: 1px solid #B3B3B3;
    border-radius: 0 0 25px 25px;
    padding: 17px 21px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

/* control_btn discard */
.downside_discard {
    cursor: pointer;
    transition: all .1s linear;
}

.downside_discard:hover {
    transform: scale(1.02);
    background-color: #9b9b9b;
    color: #fff;
    cursor: pointer;
}

/* control_btn upload */
.downside_upload {
    margin-left: 10px;
    color: white;
    background-color: #0d6efd;
    border: #3333FF;
    transition: all .1s linear;
    cursor: pointer;
}

.downside_upload:hover {
    color: white;
    background-color: #0b5ed7;
    border: #3333FF;
}


/*
====================
    drag and drop 
====================
*/

#upside_files {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/*
====================
    progress area 
====================
*/

section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    justify-content: space-between;
}

.progress-area .progress-bar {
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-area .progress {
    height: 100%;
    width: 50%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 200px;
    overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .image-content {
    display: flex;
    align-items: center;

}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.upload-area .details .size {
    font-size: 11px;
    color: #404040;
}

.uploaded-area .fa-check {
    color: #6990f2;
    font-size: 16px;
}

/* upload image info */
.notification {
    display: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

.success {
    background-color: rgba(79, 227, 39, 0.6);
}

.processing {
    background-color: rgba(242, 239, 27, 0.6);
}

.error {
    background-color: rgba(242, 24, 24, 0.6);
}

.fas {
    width: fit-content;
}