<!doctype html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <meta name="description" content="There's been a bad request D:">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="errorAll">
  <div class="errorContainer">
    <h1>400</h1>
    <h2>Bad Request Error</h2>
    <p>Our server cannot understand your request. If the issue persists, <br> please report it <a href="/contact">here.<a/></p>
      <button type="button" class="errorBtn" onclick="history.back();">Go Back to Previous Page</button>
</div>
</div>
</body>
</html>
