{% extends 'base.html' %}
{% block content %}

<div class="container">
  <table id="imageTable" width="1000">
      <thead>
          <tr>
              <th>File Name</th>
              <th>Created by</th>
              <th>Date Modified (EST)</th>
              <th>Shared By</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody style="text-align: center;">
          {% if sorted_data %}
          {% for x in sorted_data %}
          <tr id="{{ x[0].id }}">
              <td class="row-data">
                  {{ x[0].file_name }}
              </td>
              <td>
                  {{ x[2] }}
              </td>
              <td>
                  {{ x[1] }}
              </td>
              <td class="row-data">
                  {% if x[0].shared_by == None %}
                  <span class='tickspan' style="font-size: 20px; color:red;"> &#10539; </span> 
                  {% else %}
                  <span class='tickspan' style="font-size: 20px; color: green;"> &#10003; </span> 
                  {% endif %}
              </td>
              <td style="display: flex; justify-content: center;">
                {% if x[0].shared_by == None %}
                  <input
                      id="shareData"
                      type="button"
                      class="buttonChange action-button"
                      value="Share"
                      onclick="share()"
                      file_id="{{ x[0].id }}"
                  >
                {% endif %}
                  <a href="{{ url_for('train.getTrainingFileContents') }}?training_file_id={{ x[0].id }}">
                      <input
                          id="viewbt_{{ x[0].id }}"
                          type="button"
                          class="buttonChange action-button"
                          value="View"
                      >
                  </a>
              </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="5" style="text-align: center;">No files to display.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
</div>
<div class="pagination" id="pagination">
  <button class="action-button" id="prevPageButton" onclick="prevPage()"><i class="fas fa-angle-left"></i></button>
  <div class="page-info">
    <span>Page</span>
    <span id="currentPage"></span>
    <span>of </span>
    <span id="totalPages"></span>
  </div>
  <button class="action-button" id="nextPageButton" onclick="nextPage()"><i class="fas fa-angle-right"></i></button>
 </div>
     <!-- Modal -->
 <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            ></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    Share image with other users:
                </div>
                <div class="col">
                     <form id="sharetest" method="post">
                    <div id="usernameShare"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="segmentCol">
                <button id="shareData" class="btn action-button" type="submit"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>
            </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<script>

var currentPage = 1;
    var rowsPerPage = 10;
    var totalRows = document.getElementById("imageTable").rows.length - 1;
    var totalPages = Math.ceil(totalRows / rowsPerPage);

function clearInput(){
    $("input:checkbox").prop("checked",$('input[id="all"]').prop("checked"));
}

var label_file_id= 1;
$('table tbody tr').hover(function(){
    label_file_id=$(this).attr('id');
})

function share() {
    $('#shareModal').modal('show');
    $.ajax({
        type: "GET",
        url: "{{url_for('user.getUserShareList')}}",
        success: function(response){
          console.log(response)
          var s = '<input type="checkbox" id = "all" class="user_name_main" onclick="clearInput()" value="All" > All<br>';
          if (response.username_list.length > 0){
            for (var i = 0; i < response.username_list.length; i++) {
              s += '<input class="user_name" type="checkbox" value="' + response.username_list[i] + '" >'+ " " + response.username_list[i]  +'<br>';
            }
          }
        //var s = '<label> This feature is currently disabled</label>'
          $("#usernameShare").html(s);
        }
    })
 }



 function prevPage() {
  if (currentPage > 1) {
    currentPage--;
    displayRows();
  }
}

function nextPage() {
  if (currentPage < totalPages) {
    currentPage++;
    displayRows();
  }
}

function gotoPage() {
  var page = parseInt(document.getElementById("goToPage").value);
  if (page >= 1 && page <= totalPages) {
    currentPage = page;
    displayRows();
  }
}

function displayRows() {
  var startRow = (currentPage - 1) * rowsPerPage + 1;
  var endRow = Math.min(startRow + rowsPerPage - 1, totalRows);
  for (var i = 1; i <= totalRows; i++) {
    var row = document.getElementById("imageTable").rows[i];
    if (i >= startRow && i <= endRow) {
      row.style.display = "table-row";
    } else {
      row.style.display = "none";
    }
  }
  document.getElementById("currentPage").innerHTML = currentPage;
  document.getElementById("totalPages").innerHTML = totalPages;
}


 $("#sharetest").submit(function(e){
    e.preventDefault();
    var form = $(this);
    var form_data = form.serializeArray();
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

// Create an array to store the checked values
var checkedValues = [];

// Loop through the checked checkboxes and add their values to the array
for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].value =="All")continue;
  checkedValues.push(checkboxes[i].value);
}

var label_file_id1 = label_file_id;
console.log("training_file_id:",label_file_id1)
console.log("recipient_name_list:",checkedValues)
                $.ajax({
                  type: 'POST',
                  contentType: 'application/json',
                  dataType : 'json',
                  data: JSON.stringify({'training_file_id':label_file_id1,
                    'recipient_name_list': checkedValues}),
                  url: "{{url_for('train.shareTrainingFileToUsers')}}",
                  success: function(response){

                    if (response.status == 404){
                     alert(response.error);}
                     $('#shareModal').modal('hide');
                     if (response.status == 200){
                      if(response.passed_list.length >0 && response.failed_list.length >0){
                      alert("Successfully Shared to " + response.passed_list + " \nShare failed to " + response.failed_list );}
                      if(response.passed_list.length ==0 && response.failed_list.length >0){
                        alert("Share failed to " + response.failed_list );
                      }
                      if(response.passed_list.length >0 && response.failed_list.length ==0){
                        alert("Successfully Shared to " +response.passed_list  );
                      }
                    
                  }
                  }})                  
 })

 $(document).ready(function(){
  displayRows()
 })
</script>
{% endblock %}
