.help-page {
    display: flex;
    width: 100%;
    color: #000;

    img {
        max-width: 60vw;
    }

    .main {
        width: 80%;
    }

    .sidebar {
        position: sticky;
        top: 98px;
        align-self: flex-start;

        li.active>a {
            color: #333;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            display: block;
            padding: .125rem 0;
            color: #ccc;
            transition: all 50ms ease-in-out;
            /* 💡 This small transition makes setting of the active state smooth */

            &:hover,
            &:focus {
                color: #666;
            }

        }
    }
}