$bgColor: #f1f1f1;
$blockColor: #FFF;
$titleColor: #646464;
$btnColor: #3965ff;
$progressBarColor: #D9D9D9;
$progressBtnColor: #757ED1;
$dropTableColor: #E2E2E2;
$separateLineColor: #C9C9C9;
$textColor: #fff;
$primary-color: #374754;
$secondarry-color: #D9D9D9;
$backgroundColor: linear-gradient(to bottom right, #000, #666, #fff);