.download-bg {
    .title {
        padding: 0;
        font-size: 24px;
    }

    .download-window {
        @include block;
        height: 296px;
        width: 400px;
        position: absolute;
        top: 24%;
        left: 36%;

        .closeBtn {
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 10px;
        }
    }

    .form-object {
        padding: 12px;
    }

    .btn-secondary {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.trainModel-bg {
    .title {
        padding: 0;
        font-size: 24px;
    }

    .trainModel-window {
        @include block;
        height: 296px;
        width: 400px;
        position: absolute;
        top: 24%;
        left: 36%;

        .closeBtn {
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 10px;
        }
    }

    .form-object {
        padding: 12px;
    }

    .btn-secondary {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}