$tableWidth : 50vw;

.crop-dashboard {
    padding: 1.5rem;
    font-size: 1.5rem;
    position: relative;

    .library {
        display: flex;

        .cropped-image-table {
            @include block;
            padding: 0;
            margin-top: 1.5rem;
            height: 65vh;
            width: $tableWidth;
            overflow: hidden;

            .top-row,
            .bottom-row {
                height: 50%;
                display: flex;
                transition: all 0.5s linear;
                margin: 0;

                .card {
                    height: 100%;
                    width: calc($tableWidth*0.25);
                    background-color: #fff;
                    padding: 3px;
                    transition: all 0.3s linear;

                    &-container {
                        width: 160px;
                        margin: 1.5rem auto;
                    }

                    &-detail {
                        font-size: medium;
                        margin: 1rem 0;
                    }

                    .img {
                        width: 160px;
                        height: 160px;
                        background-size: contain;
                    }

                    a {
                        color: #fff;
                    }

                    &-active {
                        background-color: #d1d1d1;
                    }

                    &:hover {
                        background-color: #d1d1d1;
                    }

                    button {
                        border: 0;
                        background-color: inherit;

                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }
            }

            .top-row .card {
                border-right: 1px solid $separateLineColor;
                border-bottom: 1px solid $separateLineColor;
            }

            .bottom-row .card {
                border-right: 1px solid $separateLineColor;
            }
        }

        .page-switch {
            display: flex;
            width: 150px;
            margin: 1.5rem auto;
            justify-content: space-between;

            .page {
                height: 20px;
                width: 20px;
                background-color: #D9D9D9;
                border-radius: 10px;
            }

            .active {
                background-color: $titleColor;
            }
        }

        .modal {
            @include block;
            margin: 20px;
            height: 65vh;

            &-body {
                margin: 8vh auto;
            }
        }
    }


    .crop-img-btn {
        position: absolute;
        right: 100px;
        bottom: 1rem;
    }


    .crop-new-img-container {
        @include block;
        width: 90vw;
        height: 90vh;
        margin: 50px auto;
        position: relative;

        .crop-image-area {
            height: 95%;

            .cropSubmit {
                display: flex;
                height: 100%;
                margin: 2vh 4vw;
                justify-content: space-around;

                .form-left {
                    display: flex;
                    height: 100%;
                    // width: 70%;


                    .y-axis-box {
                        position: relative;
                        width: 16px;
                        padding: 0 1rem;

                        .y-axis {
                            position: absolute;
                            transform-origin: 0 50%;
                            transform: rotate(90deg);


                            div {
                                transform: rotate(-90deg);
                            }

                            p {
                                position: absolute;
                                top: 28%;
                                right: 56%;
                            }

                        }
                    }

                    .x-axis {
                        width: 100%;


                        input {
                            width: 100%;
                            -webkit-appearance: none;
                            height: 10px;
                            border-radius: 5px;
                            background: var(--border);
                            outline: none;
                            padding: 0;
                            margin: 0;
                        }
                    }

                }

                .form-right {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .zoom-in-out {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 15vh;
                    }

                    #preCanvas {
                        height: 256px;
                        width: 256px;
                    }
                }
            }
        }

        .crop-img-close-btn {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }

}

.hoverBG {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #C9C9C9;
    opacity: 0;
    padding: 10px;
}

.img:hover .hoverBG {
    opacity: 1;
    background-color: rgba(201, 201, 201, 0.5);
}

.img-crop-btn {
    height: 100%;
}