.aboutus_page {
    display: flex;
    padding: 0 10vw;

    /* Sidebar styles */
    .sidebar {
        // height: 100%;
        // width: 8vw;
        position: sticky;
        z-index: 1;
        background-color: var(--primary-dark);
        /* Theme color for the sidebar background */
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        overflow-y: scroll;
        padding-bottom: 10px;

        a {
            padding: 8px 1px 8px 10px;
            text-decoration: none;
            font-size: 15px;
            color: var(--primary-light);
            /* Theme color for sidebar links */
            display: block;
            transition: 0.3s;

            &:hover {
                color: var(--secondary);
                /* Theme color for sidebar links on hover */
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: var(--white);
            /* Theme color for the close button in the sidebar */
        }
    }


    #main {
        transition: margin-left .5s;
        padding: 16px;
    }


    /* Button to open the sidebar */
    .openbtn {
        color: var(--white);
        text-decoration: none;
        background: var(--primary);
        /* Theme color for the open button background */
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.3s ease;
        display: inline-block;

        &:hover {
            background: var(--secondary);
            transform: scale(1.02);
            /* Hover background color for the open button */
        }
    }


    .mainbtn {
        font-size: 20px;
        float: right;
        top: 0;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .mainbtn:hover {
        background-color: #444;
    }


    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr:nth-child(odd) {
        background-color: #D3D3D3;
    }

    th {
        background-color: #FFFFFF;
    }

    ol {
        counter-reset: item;
    }

    li {
        display: block;
    }

    li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }

    ul {
        margin: 0;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 200ms ease-out;
    }

    ul.ul-show {
        transition: max-height 200ms ease-in;
        max-height: 1750px;
    }

    #expand_this #appendix {
        margin-top: -15px;
        margin-bottom: 25px;
        color: #111;
    }

    .nestedmenu {
        margin-top: -15px;
        margin-left: -40px;
    }

    .submenu {
        margin-left: -23px !important;
    }

    .appSubmenu {
        margin-left: -23px !important;
        margin-top: -20px !important;
    }

    #expand_AA {
        padding-bottom: 10px;
    }

    img {
        border: 1px solid #555;
    }

    .image-row {
        display: flex;
        justify-content: center;
    }

    .image-column {
        text-align: center;
        margin: 0 10px;
    }

    .image-title {
        font-weight: bold;
        margin-top: 10px;
    }

    /* Custom styles for the table */
    /* Custom styles for the table */
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .custom-table th,
    .custom-table td {
        padding: 10px;
        text-align: left;
    }

    .custom-table th {
        background-color: var(--primary);
        color: var(--white);
    }

    .custom-table tbody tr:nth-child(odd) {
        background-color: var(--background);
    }

    .custom-table tbody tr:hover {
        background-color: var(--secondary);
        color: var(--white);
    }

    .custom-table tbody tr:hover td {
        color: var(--white);
        /* Font color to white on hover */
    }

    /* Add borders and adjust the layout */
    .custom-table td {
        border: 1px solid var(--border);
        /* Add border to each cell */
    }

    .custom-table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    /* Additional styles using the provided color variables */
    body {
        background-color: var(--background);
        color: var(--primary);
        font-family: var(--font);
    }

    .center {
        text-align: center;
    }

    /* Add box-shadow to the table for a subtle effect */
    .custom-table {
        box-shadow: 0 2px 4px var(--shadow-color);
    }
}