.document {
    header {
        z-index: 1;
        width: 100%;
        padding: 0.5rem;
        background-color: $primary-color;

        .navbar {
            width: 100%;
            height: 70%;

            img {
                vertical-align: -35%;
            }

        }

        .article-path {
            width: 100%;
            height: 30%;
        }


    }

}