// 768 or smaller 
@include media-md {}

// 1600 or smaller 
@include media-lg {
    th {
        letter-spacing: 0;
    }

    #bot_container {
        .filter_btns {
            display: flex;
        }
    }

    .title {
        padding: 1rem;
    }

    .statistics-mid {
        .block {
            border-radius: 18px;
            font-size: 0.9rem;
        }
    }

    // dashboard statictics page
    .statistics-bottom {
        .prviewImage {
            width: 354px;
            height: 252px;

            #show-img {
                height: 100%;
            }
        }
    }

    // dashboard crop new image page
    .crop-dashboard {
        padding: 1rem;

        .library {
            .cropped-image-table {

                .top-row,
                .bottom-row {
                    .card-container {
                        margin: 0.5rem auto;
                        font-size: medium;

                        .img {
                            width: 123px;
                            height: 123px;
                            background: no-repeat top / contain;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .crop-img-container {
            .crop-img-btn {
                bottom: 1rem;
            }
        }

    }

    // segment page
    .segment-dashboard {
        .left-col .setting .mark-boundary {
            bottom: 3px;
            right: 10px;
            font-size: small;
        }

        .right-col {
            .no-segment-yet {
                font-size: 37px;
            }

            .boundary-img-gallery .seg-library .Gallery .top-row .seg-card,
            .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card {
                .seg-detail-hide {
                    font-size: 10px;
                }

                .seg-detail-name {
                    font-size: small;
                    font-weight: 700;
                }
            }
        }
    }

    // label page 
    .label-section {
        .block {
            padding: 1rem;
        }

        .label-operation {
            .title {
                padding: 0.5rem;
                font-size: 1rem;
            }

            .label-dashboard .operation-bot {
                height: 29vh;

                .auto-label-section .select-model {
                    margin: 0;
                }
            }
        }

        #auto_label {
            font-size: medium;
        }
    }



}