.profile-settings {
    padding: 20px;

    h1 {
        color: $primary-color;
        padding-bottom: 10px;
    }

    p {
        border-bottom: 2px solid $separateLineColor;
        color: $primary-color;
        padding-bottom: 10px;
    }

    form {
        max-width: 600px;

        .formgroup1, .formgroup2 {
            display: flex;
        }

        .form-group, .form-group1, .form-group2 {
            margin-bottom: 20px;

            label {
                margin-top: 15px;
                margin-bottom: 5px;
                display: block;
                color: $primary-color;
            }

            input[type="text"], input[type="email"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        .checkbox-group {
            display: flex;
            flex-wrap: wrap;

            label {
                margin-right: 200px;
                color: $primary-color;
            }
        }

        button {
            background-color: $separateLineColor;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: darken($separateLineColor, 10%);
            }
        }
    }
}
