
.friends-all {
    padding: 20px;

    .modal-all {
        text-align: center;
        margin-top: 50px;
      
        .open-modal {
          background-color: $primary-color;
          color: $blockColor;
          border: none;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 16px;
      
          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
      
      .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.5);
      
        .modal-content {
          background-color: $bgColor;
          margin: 15% auto; 
          padding: 20px;
          border: 1px solid #888;
          width: 80%; 
          max-width: 600px;
          border-radius: 8px;
          .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
      
            &:hover,
            &:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer;
            }
          }
      
          h2 {
            margin-top: 0;
          }
      
          input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
      
          ul {
            list-style-type: none;
            padding: 0;
      
            li {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              border-bottom: 1px solid #ccc;
      
              .pending-name {
                flex: 1;
              }
      
              button {
                margin-left: 10px;
                background-color: $btnColor;
                color: #fff;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: 4px;
                font-size: 14px;
      
                &:hover {
                  background-color: darken($btnColor, 10%);
                }
                  }
                }
              }
            }
          }
        }

    h1 {
        color: $primary-color;
        padding-bottom: 10px;
    }

    h2 {
        color: $primary-color;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .friend-desc {
        border-bottom: 2px solid $separateLineColor;
        color: $primary-color;
        padding-bottom: 10px;
    }

    .friendsTop {
        color: $primary-color;
        margin-top: 5px;
        border-bottom: 2px solid $separateLineColor;
        padding-bottom: 10px;
        margin-left: 270px;
    }

    .friends-container {
        display: flex;
        justify-content: space-between;

        .friends-list {
            flex: 1;
            margin-right: 20px;
            
            max-height: 80vh;
            max-width: 80vw;

            select {
                display: block;
                margin-bottom: 10px;
                padding: 5px;
                border: 1px solid $primary-color;
                border-radius: 5px;
            }

            .add-friend {
                background-color: $separateLineColor;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 10px;

                &:hover {
                    background-color: darken($separateLineColor, 10%);
                }
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    background-color: $secondarry-color;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    &:hover {
                        background-color: lighten($secondarry-color, 10%);
                    }

                    .mini-profile-image {
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      margin-right: 5px;
                  }

                    .friend-name {
                        flex: 1;
                        color: $primary-color;
                        font-weight: bold;
                    }

                    .friend-username {
                        color: rgb(169, 168, 168);
                        margin-left: auto; 
                    }
                }
            }
        }

        .friend-profile {
            flex: 2;

            h2 {
                color: $primary-color;
                margin-bottom: 10px;
            }

            .friend-profile-image {
              width: 120px;
              height: 120px;
              border-radius: 50%;
          }

            #profile-details {
                background-color: $secondarry-color;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


                p {
                    color: $primary-color;
                    margin: 10px 0;
                }

                button {
                    background-color: $separateLineColor;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-bottom: 10px;
                    margin-right: 5px

                }

                .remove-friend {
                        background-color: $progressBtnColor;
                        margin-left: 0px !important;

                        &:hover {
                            background-color: darken($progressBtnColor, 10%);
                        }
                    }
                
            }
        }
    }

    .friend-button {
      padding: 5px 5px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      margin-left: 5px;
    
    }
    
    .accept-request {
      background-color: #28a745; 
    }
    
    .reject-request {
      background-color: #dc3545; 
    }
    
    .cancel-request {
      color: $primary-color;
    }
    
    .friend-button:hover {
      filter: brightness(0.8);
    }
    
