{% extends 'document/base.html' %}
{% block content %}
<div class="aboutus__intro">
    <!--Start introduction-->
    <section id="introDiv">
        <h3>Introduction and Background</h3>
        <br>
        <p>
            The polar regions have become increasingly important as they provide significant potential natural resources and function as a key driver of the Earth's climate, 
            a sensitive indicator to human activities and global, environment, and climate changes. High spatial resolution (HSR) imagery is critical in Arctic sea ice 
            research for verifying the Earth observation satellite data, extracting sea ice physical parameters, and calibrating/validating climate models. However, these
            images are discrete in space and time, in big volume, and are often not included in the existing Arctic data centers. To better understand, utilize, and protect 
            the polar regions, our team has developed:
        </p>
        <ol>
            <br>
            <li>
                a cloud computing-based Arctic cyberinfrastructure (ClassX) to collect, search,
                explore, visualize, organize, analyze and share the HSR images which are discrete in time and
                space;
            </li>
            <li>
                a prototype of an online service for sea ice images domain scientists can use to classify
                image and extract geophysical parameters.
            </li>
        </ol>
        <br>
        <p>
            The developed ClassX is an ideal platform for integrating existing time-series images. Specifically, the functionalities of ClassX include image data management, 
            user management, batch image processing, results review, and spatiotemporal visualization modules. We invite the scientific community to help test and evaluate this new
            platform and to provide professional reviews, comments, and demands. This session is a hands-on guide on how to use the ClassX science gateway service to process
            images for sea ice labeling. Arctic Cyberinfrastructure (ClassX) Labeling tool is an operational image labeling web-based tool for sea ice research that incorporates features such as:
        </p>
        <br>
        <ol>
            <li>  Image Segmentation</li>
            <li>  Image labeling</li>
            <li>  Visualization</li>
            <li>  Sharing</li>
            <li>  Integrating an efficient image segmentation functionality in the tool to automatically extract homogenous regions from the images</li>
            <li>  Expanding the web-based tool to support solar studies</li>
        </ol>
    </section>
    <!--End Introduction-->

    <!--Start Architecture-->
    <section id="archiDiv">
        <br>
        <h3> Downloading Data from the Operation IceBridge Portal</h3>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-ADhwCBu3vA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- <img src="static/images/About_images/Picture1.png" alt="System Architecture" style="width:500px;height:600px;"
            class="center"> -->
        <br>
    </section>

    <br>
    <!--End Architecture-->

    <section id="userRegAndVer">
        <br>
        <h3 id="userReg">
        <li>User Registration and Verification </li></h3>

        <p>
            Navigate to <a href="https://classx.stcenter.net/">ClassX portal</a> and sign in with your
            account credentials. If you do not have an account, you can create one by following these steps:
        </p>
        <br>
        <p>
            First, click 'Register' below the credentials field or navigate to the <a href="https://classx.stcenter.net/keycloak/realms/STC-ClassX/login-actions/registration?client_id=flask-app&tab_id=LQPTDrDjfPY">Registration page.</a> 
        </p>
        <br>
        <img src="static/images/updated_about_images/classX_login.png" alt="ClassX Login" class="center">
        <br>
        <p>
            Next, enter your preferred account credentials in the corresponding text fields (First & Last Name, Username, Email, and
            Password) and then click 'Register'
        </p>
        <br>
        <img src="static/images/updated_about_images/classx_registration.png" alt="ClassX Register" class="center">
        <br>
        <p>
            The user is authorized in the JWT Token, authenticating the user.
            By default, you are given various pre-supplied images to explore the applications and services offered.
        </p>
        <br>
        <img src="static/images/updated_about_images/classx_dashboard.png" alt="Email Verification" class="center">
    </section>
</div>

{% endblock %}