{% extends 'dashboard/base.html' %}
{% block content %}
<div class="title">
    Cropped Image Library
</div>
<div class="crop-dashboard"> 
    <div> 
        Cropped Images
    </div>
    <div class="library">
        <div>
        <div class="cropped-image-table"> 
            <div class="top-row">
            </div>
            <div class="bottom-row">
            </div>
        </div>
        <div class="page-switch"> 
        </div>
        </div>  
        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">      
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Crop Image placement</h4>
            </div>
            <div class="modal-body">
                <p id="cropImgTiff">
                    <canvas id="canvasZoomWindow"></canvas>
                </p>
            </div>
        </div>
        
    </div>
    <div class="crop-img-btn btn-primary">
        Crop New Image
    </div>
    <div class="popup">
        <div class="crop-new-img-container">
            <div class="crop-image-area">  
                <div class="row">
                    Crop New Image
                </div> 
                <form class="cropSubmit" id="cropForm_{{ original_image.id }}" method="post">  
                    <div class="form-left">
                        <div class="y-axis-box">
                            <div class="y-axis" id="y-axis">
                                <div class="label-reading">
                                    <label class="form-label" for="yNav_{{ original_image.id }}"style="display: block;"></label>
                                    <p id="yNavVal_{{ original_image.id }}"></p> 
                                </div>
                                <input type="range" 
                                    class="form-range"
                                    id="yNav_{{ original_image.id }}"
                                    name = "yNavName_{{ original_image.id }}"
                                    oninput="yNavChange(this, '{{ original_image.id }}')"
                                    onchange = "setYImagePreview(this, '{{ original_image.id }}')"
                                    style="display: block;"
                                    disabled>
                            </div>
                        </div>
                        <div class="original-image">
                            <canvas id="orgCanvas_{{ original_image.id }}"></canvas>
                            <div class="x-axis" id="x-axis">
                                <div class="label-reading">
                                    <label class="form-label" for="xNav_{{ original_image.id }}" style="display: block"></label>  
                                    <p id="xNavVal_{{ original_image.id }}"></p>         
                                </div>          
                                <input type="range" 
                                    class="form-range" 
                                    id="xNav_{{ original_image.id }}"
                                    name = "xNavName_{{ original_image.id }}"
                                    oninput="xNavChange(this, '{{ original_image.id }}')"
                                    onchange = "setXImagePreview(this, '{{ original_image.id }}')"
                                    style="display:block;"
                                    disabled>                
                            </div> 
                        </div>
                    </div>   
                    <div class="form-right">
                        <div class="preview-image">
                            <canvas id="preCanvas"></canvas>
                            <div class="crop-image-btn">
                                <button id="cropImage_{{ original_image.id }}" 
                                    class="btn-secondary img-crop-btn" 
                                    type="submit"
                                    >Crop Image
                                </button>
                            </div> 
                        </div> 
                        <div class="zoom-in-out" id="zoom-in-out">
                            <div class="label-reading">
                                <label class="form-label" for="rangeZoom_{{ original_image.id }}" style="display:block;">Zoom +/-</label>
                                <p id="rangeZoomVal_{{ original_image.id }}"></p>      
                            </div> 
                            <input
                                type="range"
                                class="form-range"
                                id="rangeZoom_{{ original_image.id }}"
                                name="rangeZoomName_{{ original_image.id }}"
                                min="0"
                                max="{{max_crop_size}}"
                                step = "256"
                                oninput = "rangeZoomChange(this, '{{ original_image.id }}')"
                                onchange = "setZoomPreview(this, '{{ original_image.id }}')"
                                style="display:block;"
                                disabled>                   
                            <div class="setDefault">
                                <button
                                    id="defaultZoom_{{ original_image.id }}" 
                                    class="btn-secondary"
                                    type="button"
                                    onclick="setDefaultZoom('{{ original_image.id }}')">
                                    Default (256)
                                </button>
                            </div>
                    </div>
                </form>
            </div>
            <div class="btn-primary crop-img-close-btn" >
                Done
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous">
    let IMG = {{ original_image| tojson }};
    let CROPPEDIMG = {{ crop_images| tojson }};
    const username = {{user|tojson}}.username; // get Username
    
    let resizeFactor = 0.1;
    if(IMG.research_id == 2){
        resizeFactor = 0.2;
    }

    let resizeFactorNav = 10;
    if (screen.width < 1600){
        resizeFactorNav = 15;
        if(IMG.research_id == 2){
            resizeFactorNav /= 2;
        }
    }else{
        if(IMG.research_id == 2){
            resizeFactorNav /= 2;
        }
    }
  
    /*
    input: a card object
    output: DOM object
*/
function makeCard(id) {
    let path = CROPPEDIMG[id].visualization_path;
    let card = document.createElement("div");
    let cardContainer = document.createElement("div");
    let img = document.createElement("div");
    let detail = document.createElement("div");
    let controlPanel = document.createElement("div")
    let labelBtn = document.createElement('div');
    let deleteBtn = document.createElement('div');
    let segmentationBtn = document.createElement('div');
    let hoverBG = document.createElement('div')

    segmentationBtn.setAttribute("class", "segmentationBtn btn-secondary");
    segmentationBtn.innerHTML = `<a href="/dashboard/${IMG.id}/segment/${CROPPEDIMG[id].id}">Segment</a>`;
    segmentationBtn.setAttribute('onclick', `segmentImage(${CROPPEDIMG[id].id},${id})`);
    deleteBtn.setAttribute('onclick', `"{{url_for('crop.deleteCropImage')}}"?crop_image_id=${CROPPEDIMG[id].id}`);
    deleteBtn.setAttribute("class", "deleteBtn btn-secondary");
    deleteBtn.innerHTML = "Delete";
    hoverBG.setAttribute("class", "hoverBG");
    controlPanel.setAttribute("class", "controlPanel");
    card.setAttribute('onclick', `openModal(${id})`);
    card.setAttribute("class", `card`);
    cardContainer.setAttribute("class", "card-container");
    img.setAttribute("class", "img")

    img.style.backgroundImage = `url(${"{{ url_for('static', filename = 'path') }}".replace("path", path)})`;
    let x = "{{ url_for('static', filename = 'path') }}".replace("path", path);
    detail.setAttribute("class", "card-detail");
    detail.appendChild(formatData("Width", CROPPEDIMG[id].width));
    detail.appendChild(formatData("Height", CROPPEDIMG[id].height));
    detail.appendChild(formatData("Zoom", CROPPEDIMG[id].crop_size));
   // detail.appendChild(formatData("Light", CROPPEDIMG[id].light));

    hoverBG.appendChild(segmentationBtn);
    hoverBG.appendChild(deleteBtn);
    img.appendChild(hoverBG);
    cardContainer.appendChild(img);
    cardContainer.appendChild(detail);
    card.appendChild(cardContainer);

    return card;
}

/*
    segmentImage    
*/
function segmentImage(){
    // jump to Segmentation an
    console.log("hello")
}
/*
    Delete cropped image
*/
function deleteCropImage(crop_image_id, listID) {
    if (confirm("Warning deleting this image will delete all related segmented images as well. This can not be undone.")) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                crop_image_id: crop_image_id
            },
            url: "{{url_for('crop.deleteCropImage')}}",
            success: function (response) {
                if (response.status == 200) {
                    CROPPEDIMG.splice(listID,1);
                    loadLib(false, 0);
                    notification(response.message, "#5cb85c", "#000", "20px")
                }
                else if (response.status == 400) {
                    alert(response.error);
                    notification(response.message, "#ff4545", "#000", "20px")
                }

            }
        });
    }
}
</script>
<script  src="{{ url_for('static', filename='js/hp_crop_library.js') }}"> </script>
<script crossorigin="anonymous">

    
    /*
        location btn related global variable
    */
    const canvasZoomWindow = document.querySelector("#canvasZoomWindow");
    let ctx1 = canvasZoomWindow.getContext("2d");
    const cropImgTiff = document.getElementById('cropImgTiff');

    

    /*
        Crop new img btn 
    */
    const cropNewBtn = document.querySelector(".crop-img-btn");
    const cropImgArea = document.querySelector(".popup");
    const cropImgCloseBtn = document.querySelector(".crop-img-close-btn");



    /* 
        Let user know backend is processing image.
    */
    $("#cropImage_{{ original_image.id }}").click(function () {//correction
        notification('Please wait processing...','#FFE087','#000','20px')
        });

    /*
        Event listener for crop new btn
    */
    cropNewBtn.addEventListener('click',function(){
        cropImgArea.style.display = "block";
    });

    /*
        Event listener for crop image close btn,
            - set display of crop new img view to none 
            - reload crop image library
    */
    cropImgCloseBtn.addEventListener('click',function(){
        cropImgArea.style.display = 'none';

    });



    


    /*
        The function let user know where croppped image from original image
    */

    function openModal(id) {
        let x = CROPPEDIMG[id].width;
        let y = CROPPEDIMG[id].height;
        let crop_size = CROPPEDIMG[id].crop_size;
        let OG_height = IMG.height;
        let OG_width = IMG.width;
        let thumbnail_path = IMG.thumbnail_path;
    
        cropImgTiff.innerHTML = "";
        $("#myModal .modal-body").html("");
        let image = new Image(); // Using optional size for image
        image.src = "{{ url_for('static', filename = 'path') }}".replace("path",thumbnail_path);
        image.onload = drawImageActualSize; // Draw when image has loaded
    
        /*********************draw actual image in canvas*******************/
        function drawImageActualSize() {
            console.log("openModel-drawImageActualSize")
            let x = CROPPEDIMG[id].width;
            let y = CROPPEDIMG[id].height;
            canvasZoomWindow.width = OG_width/resizeFactorNav;
            canvasZoomWindow.height = OG_height/resizeFactorNav;
            
            
            ctx1.fillStyle = 'red';
            ctx1.fillRect(20, 20, 350, 100);
            ctx1.drawImage(this, 0, 0, canvasZoomWindow.width, canvasZoomWindow.height);
            let rectX = (x-crop_size)/resizeFactorNav;
            let rectY = (y-crop_size)/resizeFactorNav;
            let rectWidth = crop_size/resizeFactorNav;
            let rectHeight = crop_size/resizeFactorNav;
    
            ctx1.beginPath();
            ctx1.lineWidth = 2;
            ctx1.strokeStyle = "red";
            ctx1.rect(rectX, rectY, rectWidth, rectHeight);
            ctx1.stroke();
        }
        $("#myModal .modal-body").append(canvasZoomWindow);
    }

</script>

<script>
    let id = '{{ original_image.id }}';
    let image = null;
    let imagedata = null;
    let showloader = false;
    const cropImageResizeFactor = 0.72;
    $(document).ready(function(){
        // get window.innerHeight
        let winHeight = window.innerHeight*0.9;
        /* Initialize crop image gallery */
        loadLib(false, 0);
        /*******************x slider************************/
        var xNav = document.getElementById("xNav_"+id);
        xNav.value = 0;
        var xNavVal = document.getElementById("xNavVal_"+id);
        xNavVal.innerHTML = xNav.value;
        /*******************y slider************************/
        var yNav = document.getElementById("yNav_"+id);
        yNav.value = 0;
        var ynavVal = document.getElementById("yNavVal_"+id);
        ynavVal.innerHTML = yNav.value;
        /**************************************************/
        var rangeZoom = document.getElementById("rangeZoom_"+id);
        // set default value for range crop_size
        rangeZoom.value = 256;
        var rangeZoomVal = document.getElementById("rangeZoomVal_"+id);//
        rangeZoomVal.innerHTML = rangeZoom.value;
        showloader=true;
        
        imageObj = IMG;
        data_path = imageObj.visualization_path;
        console.log("data_path: ", data_path);
        /**************************************Main Image**************************/
        var canvas = document.getElementById('orgCanvas_'+id);
        var ctx = canvas.getContext("2d");

        var image = new Image(); // Using Image() constrcutor create <img> element 
        image.src = '/static/'+data_path;
        image.onload = drawImageActualSize; // Draw when image has loaded 
        
        /*********************draw actual image in canvas*******************/
        function drawImageActualSize() {
            zoomVal = document.getElementById("rangeZoom_"+id).value;
            imagedata = this;
            console.log("this: ", this);
            console.log("Image onload imagedata: ", imagedata);
            // calculate width and height for original image based on screen size
            canvas_rescaleHeight = (winHeight*cropImageResizeFactor).toFixed(1);
            canvas_rescaleWidth = (canvas_rescaleHeight * (this.naturalWidth / this.naturalHeight)).toFixed(1);
            // set range bar length of x-axis and y-axis 
            let yAxis = document.querySelector(".y-axis");
            let xAxis = document.querySelector(".x-axis");
            yAxis.style.width = `${canvas_rescaleHeight}px`;
            xAxis.style.width = `${canvas_rescaleWidth}px`;
            // set canvas width and height
            canvas.width = canvas_rescaleWidth;
            canvas.height = canvas_rescaleHeight;
    
            // cut entire original image and put on canvas
            ctx.drawImage(this, 0, 0, this.width, this.height, 0, 0, canvas_rescaleWidth, canvas_rescaleHeight);
            ctx.beginPath();
            ctx.lineWidth = "1";
            //range crop_size in/out value
            lenVal = (zoomVal*(canvas_rescaleHeight/this.naturalHeight)).toFixed(1)
            console.log("zoomVal: ",zoomVal)
            console.log("lenVal: ",lenVal)
            strokeColor = getRectColor(lenVal);
            ctx.strokeStyle = strokeColor;
            ctx.rect(0, 0, lenVal, lenVal);
            ctx.stroke();
            xNav.disabled = false;
            yNav.disabled = false;   
            rangeZoom.disabled = false;
            xNav.setAttribute ("max", this.naturalWidth);
            yNav.setAttribute ("max", this.naturalHeight);
        }     
        /**************************************End Main Image**************************/

        /*
            click on original image
        */
        canvas.addEventListener("click", function (evt) {
            console.log("original image on click");
            // get canvas of original image 
            var ctx = canvas.getContext("2d");
            // get canvas of zoom in window
            var ctx1 = canvasZoomWindow.getContext('2d');
            // get mouse position on canvas of original image
            var mousePos = getMousePos(canvas, evt);       
            var displayVal = getMousePos(canvas, evt);    
            // set resize factor based on research field
            // delete canvas content of original image
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            // set width and height for original image
            let canvas_rescaleHeight = (winHeight*cropImageResizeFactor).toFixed(1);
            let canvas_rescaleWidth = canvas_rescaleHeight * (imagedata.width /  imagedata.height);
            // resize original image based on screen size
            let resizeFactor = canvas_rescaleHeight/imagedata.height;
            // reverse resized data base to original data
            let resizeFactorNav =imagedata.height/canvas_rescaleHeight;
            // draw new canvas content with new zoom square
            ctx.drawImage(imagedata, 0, 0, imagedata.width, imagedata.height, 0, 0, canvas_rescaleWidth, canvas_rescaleHeight);
            // set zoom square
            ctx.beginPath();
            ctx.lineWidth = "1";
            //get zoom value from zoom slider
            zoomVal = document.getElementById("rangeZoom_"+id).value;
            lenVal = (zoomVal*resizeFactor).toFixed(1);

            //prevent box from going off the image
            zoomClickVal = (document.getElementById("rangeZoom_"+id).value*resizeFactor).toFixed(1);
            if (mousePos.x > (canvas_rescaleWidth - zoomClickVal))
            {
                mousePos.x = canvas_rescaleWidth - zoomClickVal;
                displayVal.x = canvas_rescaleWidth - zoomClickVal;
    
            }
            if (mousePos.y > (canvas_rescaleHeight - zoomClickVal)) 
            {
                mousePos.y = canvas_rescaleHeight - zoomClickVal;
                displayVal.y = canvas_rescaleHeight - zoomClickVal;
            }

            xNav.value = mousePos.x*resizeFactorNav;
            yNav.value = mousePos.y*resizeFactorNav;
            xNavVal.innerHTML = parseInt(displayVal.x*resizeFactorNav);
            ynavVal.innerHTML = parseInt(displayVal.y*resizeFactorNav);
            
            strokeColor = getRectColor(lenVal);
            ctx.strokeStyle = strokeColor;  
            ctx.rect(mousePos.x, mousePos.y, lenVal, lenVal);
            ctx.stroke();

            ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
            
            //zoomVal = parseInt(zoomVal)
            canvasZoomWindow.width = zoomVal;
            canvasZoomWindow.height = zoomVal;
            ctx1.drawImage(imagedata, mousePos.x*resizeFactorNav, mousePos.y*resizeFactorNav, zoomVal, zoomVal, 0, 0, canvasZoomWindow.width, canvasZoomWindow.height);
        }, false);

        //Get Mouse Position
        function getMousePos(canvas, evt) {
            
            var imageCoords = imagedata.getBoundingClientRect();
            var canvasCoords = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - parseInt(canvasCoords.left),
                y: evt.clientY - parseInt(canvasCoords.top)
            };
        }

        /**************************************Image preview**************************/
        zoomVal = document.getElementById("rangeZoom_"+id).value;
        var canvasZoomWindow = document.getElementById('preCanvas');
        // canvasZoomWindow.setAttribute('style', 'width:' + (100) +
        // '%; height: ' + (100) + '%;');
        var ctx1 = canvasZoomWindow.getContext("2d");
        const image1 = new Image(); // Using optional size for image
        image1.onload = drawImageZoomSize; // Draw when image has loaded   
        image1.src = '/static/'+data_path;

        function drawImageZoomSize() {
            clipX = xNav.value;
            clipY = yNav.value;
            zoomVal = rangeZoom.value;
            canvasZoomWindow.width = zoomVal;
            canvasZoomWindow.height = zoomVal;
            //range zoom in out value
            //ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
            ctx1.drawImage(this, clipX, clipY, zoomVal, zoomVal, 0, 0, canvasZoomWindow.width, canvasZoomWindow.height);
        }  
        /*************************************end image preview******************************/
        //}
           
    })
    
    function getRectColor(rangeVal){
        if (rangeVal < 25.6) {
            strokeColor = '#FF0000';
        }
        else if (rangeVal > 25.6){
            strokeColor = '#00FF00';
        }
        else {
            strokeColor = '#00FFFF';
        }
        return strokeColor;
    }
    
    
    function rangeZoomChange(slideObj, id){
        let winHeight = window.innerHeight*0.9;
        // set width and height for original image
        let canvas_rescaleHeight = (winHeight*cropImageResizeFactor).toFixed(1);
        let canvas_rescaleWidth = canvas_rescaleHeight * (imagedata.width /  imagedata.height);
        // resize original image based on screen size
        let resizeFactor = canvas_rescaleHeight/imagedata.height;
        // reverse resized data base to original data
        let resizeFactorNav =imagedata.height/canvas_rescaleHeight;
        let rangeZoomVal = document.getElementById("rangeZoomVal_"+id);
        rangeZoomVal.innerHTML = slideObj.value;
        
        let zoomVal = (slideObj.value*resizeFactor).toFixed(1);
        let x = (document.getElementById("xNav_"+id).value*resizeFactor).toFixed(2);
        let y = (document.getElementById("yNav_"+id).value*resizeFactor).toFixed(2);
        let canvas = document.getElementById('orgCanvas_'+id);
        let ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        ctx.drawImage(imagedata, 0, 0, imagedata.width, imagedata.height, 0, 0, canvas_rescaleWidth, canvas_rescaleHeight);
        ctx.beginPath();
        ctx.lineWidth = "1";
        strokeColor = getRectColor(zoomVal); 
        ctx.strokeStyle = strokeColor;
        ctx.rect(x, y, zoomVal, zoomVal);
        ctx.stroke();
    }
    
    function setZoomPreview(slideObj, id){
      var zoomVal = slideObj.value;
      var x = document.getElementById("xNav_"+id).value;
      var y = document.getElementById("yNav_"+id).value;
      var preCanvas = document.getElementById('preCanvas');
      var ctx1 = preCanvas.getContext("2d");
      preCanvas.width = zoomVal;
      preCanvas.height = zoomVal;
      ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
      ctx1.drawImage(imagedata, x, y, zoomVal, zoomVal, 0, 0, preCanvas.width, preCanvas.height);
    }
    
    /* x slider change */ 
    function xNavChange(slideObj, id){
        let winHeight = window.innerHeight*0.9;
        let canvas_rescaleHeight = (winHeight*cropImageResizeFactor).toFixed(1);
        let canvas_rescaleWidth = canvas_rescaleHeight * (imagedata.width /  imagedata.height);
        // resize original image based on screen size
        let resizeFactor = canvas_rescaleHeight/imagedata.height;
        // reverse resized data base to original data
        let resizeFactorNav =imagedata.height/canvas_rescaleHeight;
        var xnavVal = document.getElementById("xNavVal_"+id);
        var x = (slideObj.value*resizeFactor).toFixed(2);
        var ynavVal = document.getElementById("yNav_"+id);
        var y = (ynavVal.value*resizeFactor).toFixed(2);
        zoomVal = (document.getElementById("rangeZoom_"+id).value*resizeFactor).toFixed(1);
        /* Prevent the lens from being positioned outside the image: */
        if (x > (canvas_rescaleWidth - zoomVal))
        {
            x = canvas_rescaleWidth - zoomVal;
            xnavVal.innerHTML = imagedata.width - (zoomVal*resizeFactorNav);
        }
        else{
            xnavVal.innerHTML = slideObj.value;
        }
        if (y > (canvas_rescaleHeight - zoomVal)){
            y = canvas_rescaleHeight - zoomVal;
        }
        
        var canvas = document.getElementById('orgCanvas_'+id);
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        ctx.drawImage(imagedata, 0, 0, imagedata.width, imagedata.height, 0, 0,canvas_rescaleWidth, canvas_rescaleHeight);
        ctx.beginPath();
        ctx.lineWidth = "1";
        strokeColor = getRectColor(zoomVal);
        ctx.strokeStyle = strokeColor;
        ctx.rect(x, y, zoomVal, zoomVal);
        ctx.stroke();
    }
    
    /* y slider change */
    function yNavChange(slideObj, id){
        let winHeight = window.innerHeight*0.9;
        let canvas_rescaleHeight = (winHeight*cropImageResizeFactor).toFixed(1);
        let canvas_rescaleWidth = canvas_rescaleHeight * (imagedata.width /  imagedata.height);
        // resize original image based on screen size
        let resizeFactor = canvas_rescaleHeight/imagedata.height;
        // reverse resized data base to original data
        let resizeFactorNav =imagedata.height/canvas_rescaleHeight;
        var ynavVal = document.getElementById("yNavVal_"+id);
        var y = (slideObj.value*resizeFactor).toFixed(2);
        var xnavVal = document.getElementById("xNav_"+id);
        var x = (xnavVal.value*resizeFactor).toFixed(2);
        zoomVal = (document.getElementById("rangeZoom_"+id).value*resizeFactor).toFixed(1);
        
        if (y > (canvas_rescaleHeight - zoomVal)) {
            y = canvas_rescaleHeight - zoomVal;
            ynavVal.innerHTML = imagedata.height - (zoomVal * resizeFactorNav);
        }
        else{
            ynavVal.innerHTML = slideObj.value;
        }
        if (x > (canvas_rescaleWidth - zoomVal)){
            x = canvas_rescaleWidth - zoomVal;
            
        }
        var canvas = document.getElementById('orgCanvas_'+id);
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        
        ctx.drawImage(imagedata, 0, 0, imagedata.width, imagedata.height, 0, 0, canvas_rescaleWidth, canvas_rescaleHeight);
        ctx.beginPath();
        ctx.lineWidth = "1";
        strokeColor = getRectColor(zoomVal);
        ctx.strokeStyle = strokeColor;
        ctx.rect(x, y, zoomVal, zoomVal);
        ctx.stroke();
    }
    
    function setYImagePreview(slideObj, id){
      var y = slideObj.value;
      var rangeZoom = document.getElementById("rangeZoom_"+id);
      var zoomVal = rangeZoom.value;
      if (y > ((imagedata.height) - zoomVal))
      {
        y = (imagedata.height) - zoomVal;
        slideObj.max = (imagedata.height) - zoomVal;
      }
      var xnavVal = document.getElementById("xNav_"+id);
      var x = xnavVal.value;
      if (x > ((imagedata.width) - zoomVal))
      {
        x = (imagedata.width) - zoomVal;
        
      }
      var preCanvas = document.getElementById('preCanvas');
      var ctx1 = preCanvas.getContext("2d");
      preCanvas.width = zoomVal;
      preCanvas.height = zoomVal;
      ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
      ctx1.drawImage(imagedata, x, y, zoomVal, zoomVal, 0, 0, preCanvas.width, preCanvas.height);
    }
    
    function setXImagePreview(slideObj, id){
      var x = slideObj.value;
      var rangeZoom = document.getElementById("rangeZoom_"+id);
      var zoomVal = rangeZoom.value;
      if (x > ((imagedata.width) - zoomVal))
      {
        x = (imagedata.width) - zoomVal;
        slideObj.max = (imagedata.width) - zoomVal;
      }
      var ynavVal = document.getElementById("yNav_"+id);
      var y = ynavVal.value;
      if (y > ((imagedata.height) - zoomVal))
      {
        y = (imagedata.height) - zoomVal;
        
      }
      var preCanvas = document.getElementById('preCanvas');
      var ctx1 = preCanvas.getContext("2d");
      preCanvas.width = zoomVal;
      preCanvas.height = zoomVal;
      ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
      ctx1.drawImage(imagedata, x, y, zoomVal, zoomVal, 0, 0, preCanvas.width, preCanvas.height);
    }
    
    function setDefaultZoom(id){
        let winHeight = window.innerHeight*0.9;
        let canvas_rescaleHeight =(winHeight*cropImageResizeFactor).toFixed(1);
        let canvas_rescaleWidth = canvas_rescaleHeight * (imagedata.width /  imagedata.height);
        // resize original image based on screen size
        let resizeFactor = canvas_rescaleHeight/imagedata.height;
        // reverse resized data base to original data
        let resizeFactorNav =imagedata.height/canvas_rescaleHeight;
        let ynavVal = document.getElementById("yNav_"+id);
        let y = (ynavVal.value*resizeFactor).toFixed(2);
        let xnavVal = document.getElementById("xNav_"+id);
        let x = (xnavVal.value*resizeFactor).toFixed(2);
        let rangeZoom = document.getElementById("rangeZoom_"+id);
        rangeZoom.value = 256;
        let zoomVal = (rangeZoom.value*resizeFactor).toFixed(1);
        let rangeZoomVal = document.getElementById("rangeZoomVal_"+id);//
        rangeZoomVal.innerHTML = rangeZoom.value;
        let canvas = document.getElementById('orgCanvas_'+id);
        let ctx = canvas.getContext("2d");
        let preCanvas = document.getElementById('preCanvas');
        let ctx1 = preCanvas.getContext("2d");
        ctx.beginPath();
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        ctx.drawImage(imagedata, 0, 0, imagedata.width, imagedata.height, 0, 0, imagedata.width*resizeFactor, imagedata.height*resizeFactor);
        ctx.lineWidth = "1";
        //the preview
        ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
        let drawImageX = xnavVal.value;
        let drawImageY = ynavVal.value;
        let drawImageZoom = 256;
        strokeColor = getRectColor(zoomVal);
        ctx.strokeStyle = strokeColor;
        ctx.rect(x, y, zoomVal, zoomVal);
        ctx.stroke();
        preCanvas.width = 256;
        preCanvas.height = 256;
        ctx1.clearRect(0, 0, ctx1.canvas.width, ctx1.canvas.height);
        ctx1.drawImage(imagedata, drawImageX, drawImageY, drawImageZoom, drawImageZoom, 0, 0, preCanvas.width, preCanvas.height);
    }
    
    
    $(".cropSubmit").submit(function(e){
        e.preventDefault();
        var form = $(this);
        var formid = $(this).attr('id');
        var id = formid.split('_')[1]
        var crop_size = 256;
        //input file
        var form_data = form.serializeArray();
        console.log(form_data);
        form_data.push({name: 'name',
                      value: username},
                      {name: 'id',
                      value: id} ,
                      {name: 'crop_size',
                      value: crop_size});
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            dataType : 'json',
            data: JSON.stringify(form_data),
            url: "{{url_for('crop.saveCropImage')}}",
            success: function(response){
                if (response.status == 200){ 
                    notification('Image has been cropped', "#5cb85c", "#000", "20px");
                    CROPPEDIMG.push(response.crop_image);
                    loadLib(false, 0);
                }
                else{ 
                    console.log("response.status: ", response.status)
                    console.log("response.error: ", response.error)
                    notification('Selected area is overbound the limits of the image', "#ff4545", "#000", "20px")
                }
            }
        });
    });
    
    
    </script>

{% endblock %}