
{% extends 'user/user-base.html' %}
{% block content %}
<!-- <div class="friendsTop">
    <h1> Friends </h1>
    <p> View your list of friends. </p>
</div> -->
    <div class="container">
        <div class="profile-settings">
            <h1>Profile</h1>
            <p>Update your personal details.</p>
            <form method="post">
                <div class="form-group1">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first-name" value={{first_name}}>
                </div>
                <div class="form-group1">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last-name" value={{last_name}}>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" value={{email}}>
                </div>
                <div class="form-group2">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value={{title}}>
                </div>
                <div class="form-group2">
                    <label for="organization">Organization</label>
                    <input type="text" id="organization" name="organization" value={{organization}}>
                </div>
                <!--<div class="form-group">
                    <label>Research Fields</label>
                    <div class="checkbox-group">
                        <label><input type="checkbox" name="research-fields" value="Arctic Ice" id="Arctic"> Arctic Ice</label>
                        <label><input type="checkbox" name="research-fields" value="Heliophysics" id="Heliophysics"> Heliophysics</label>
                    </div>
                </div> -->
                <input type="submit" value="Save Changes"/>
            </form>
        </div>
    </div>
{% endblock %}
