
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-friends.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-profile.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5fc8e4bcd5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="settings">
        <div class="settings-sideBar">
            <div class="settings-sideBar__switchBar">
                <div class="switchBtn backHome">
                    <i class="fa fa-house"></i>
                    <a style="font-size:1rem;"> Return </a>
                </div>
                <div class="switchBtn Profile">
                    <i class="fa fa-user-circle-o "></i>
                    <a> Profile </a>
                </div>
                <!--
                <div class="switchBtn Friends">
                    <i class="fa fa-address-book"></i>
                    <a > Friends </a>
                </div> -->
                <a href="/settings/friends" class="switchBtn Friends" style="display: block;">
                    <i class="fa fa-address-book"></i>
                    Friends
                </a>
               <!-- Not implimented!!
                <div class="switchBtn BillingPlans">
                 <i class="fa fa-credit-card"></i>
                    <a > Billing and Plans </a>
                </div> -->
            </div>

        </div>
        <div class="settings-container">
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="https://kit.fontawesome.com/5fc8e4bcd5.js" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static', filename='js/homepage.js') }}" crossorigin="anonymous"> </script>
    <script crossorigin="anonymous">
        const profileBtn = document.querySelector(".Profile");
        const viewFriendsBtn = document.querySelector(".Friends");
        const backHomeBtn = document.querySelector(".backHome");
        const BillingBtn = document.querySelector(".BillingPlans");

        backHomeBtn.addEventListener("click", function(){
            window.location.href = `/dashboard`;
        })
        profileBtn.addEventListener("click", function(){
            window.location.href = `/settings/profile`;
        })

        viewFriendBtn.addEventListener("click", function(){
            window.location.href = `/settings/friends`;
        })

        BillingBtn.addEventListener("click", function(){
            window.location.href = `/error/404`;
        })
        
    </script>
</body>
</html>
